<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.AssetMapper">
    <insert id="registerAsset" parameterType="kr.or.fact.core.model.DTO.AssetVO">
        INSERT INTO TB_ASSET (IDX_ASSET,
                              ASSET_CODE,
                              ASSET_MAIN_CATEGORY_CODE,
                              ASSET_SUB_CATEGORY_CODE,
                              ASSET_DETAIL_CATEGORY_CODE,
                              ASSET_NAME,
                              ASSET_STATUS,
                              IS_ASSET_PHOTO_FILE,
                              ASSET_MANUFACTURE,
                              ASSET_BRAND,
                              ASSET_MODEL_NAME,
                              ASSET_PID,
                              ASSET_MANAGER_NAME,
                              ASSET_LOC,
                              REPRESENTATIVE_USE,
                              MEMO,
                              IDX_ADMIN,
                              REG_DATE,
                              LAST_UPD_DATE)
        VALUES (SEQ_ASSET.NEXTVAL,
                #{asset_code},
                #{asset_main_category_code},
                #{asset_sub_category_code},
                #{asset_detail_category_code},
                #{asset_name},
                #{asset_status},
                #{is_asset_photo_file},
                #{asset_manufacture},
                #{asset_brand},
                #{asset_model_name},
                #{asset_pid},
                #{asset_manager_name},
                #{asset_loc},
                #{representative_use},
                #{memo},
                #{idx_admin},
                SYSDATE,
                SYSDATE)
    </insert>

    <insert id="insertAssetReservation" parameterType="kr.or.fact.core.model.DTO.AssetReservationVO" useGeneratedKeys="false">
        INSERT INTO TB_ASSET_RESERVATION (IDX_ASSET_RESERVATION,
                              ASSET_RESERVAION_CODE,
                              IDX_CORP_INFO,
                              IDX_USER,
                              RESERVAION_STATUS,
                              ASSET_USAGE,
                              IS_END,
                              IS_RETURN,
                              USE_START_DATE,
                              USE_END_DATE,
                              REG_DATE,
                              LAST_UPD_DATE)
        VALUES (SEQ_ASSET_RESERVATION.NEXTVAL,
                #{asset_reservaion_code},
                #{idx_corp_info},
                #{idx_user},
                #{reservaion_status},
                #{asset_usage},
                #{is_end},
                #{is_return},
                #{use_start_date},
                #{use_end_date},
                SYSDATE,
                SYSDATE)
                <selectKey keyProperty="idx_asset_reservation" resultType="long" order="AFTER">
                    SELECT SEQ_ASSET_RESERVATION.CURRVAL FROM DUAL
                </selectKey>
    </insert>

    <insert id="insertReservationItem">
        INSERT INTO TB_ASSET_RESERVATION_ITEM (IDX_ASSET_RESERVATION_ITEM,
                              ASSET_CODE,
                              IDX_ASSET_RESERVATION,
                              IDX_ASSET_MANAGE,
                              AMOUNT,
                              RESERVATION_ITEM_STATUS,
                              REG_DATE,
                              LAST_UPD_DATE
                              )
        VALUES (SEQ_ASSET_RESERVATION.NEXTVAL,
                #{asset_code},
                #{idx_asset_reservation},
                #{idx_asset_manage},
                #{amount},
                #{reservation_item_status},
                SYSDATE,
                SYSDATE)
    </insert>


    <select id="getAssetList" resultType="kr.or.fact.core.model.DTO.AssetVO">
        SELECT * FROM (
        SELECT A.*, FLOOR((ROWNUM - 1)/10 + 1) PAGE, (
        SELECT MAX(FLOOR((ROWNUM - 1)/10 + 1)) FROM TB_ASSET
        WHERE IDX_ASSET >= 1
        <if test='filter1 != 100'>
            AND ASSET_MAIN_CATEGORY_CODE = #{filter1}
        </if>
        <if test='filter2 != 0'>
            AND ASSET_SUB_CATEGORY_CODE = #{filter2}
        </if>
        <if test='filter3 != 0'>
            AND ASSET_DETAIL_CATEGORY_CODE = #{filter3}
        </if>
        ) MAXVALUE FROM (
        SELECT TB_ASSET.* FROM TB_ASSET
        WHERE IDX_ASSET >= 1
        <if test='filter1 != 100'>
            AND ASSET_MAIN_CATEGORY_CODE = #{filter1}
        </if>
        <if test='filter2 != 0'>
            AND ASSET_SUB_CATEGORY_CODE = #{filter2}
        </if>
        <if test='filter3 != 0'>
            AND ASSET_DETAIL_CATEGORY_CODE = #{filter3}
        </if>
--         ORDER BY CONVERT(ADMIN_NAME,'UTFE') ASC
        )
        A)
        <if test='page_num != 0'>
            WHERE PAGE = #{page_num}
        </if>
    </select>

    <select id="getAssetReservationList" resultType="kr.or.fact.core.model.DTO.AssetReservationVO">
        SELECT * FROM (
        SELECT A.*, FLOOR((ROWNUM - 1)/10 + 1) PAGE, (
        SELECT MAX(FLOOR((ROWNUM - 1)/10 + 1)) FROM TB_ASSET_RESERVATION
        WHERE IDX_ASSET_RESERVATION >= 1
        <if test='filter1 != 100'>
            AND RESERVATION_STATUS = #{filter1}
        </if>

        ) MAXVALUE FROM (
        SELECT TB_ASSET_RESERVATION.* FROM TB_ASSET_RESERVATION
        WHERE IDX_ASSET_RESERVATION >= 1
        <if test='filter1 != 100'>
            AND RESERVATION_STATUS = #{filter1}
        </if>
--         ORDER BY CONVERT(ADMIN_NAME,'UTFE') ASC
        )
        A)
        <if test='page_num != 0'>
            WHERE PAGE = #{page_num}
        </if>
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM TB_ASSET
        <if test='filter1 != 100'>
            WHERE ASSET_MAIN_CATEGORY_CODE = #{filter1}
        </if>
        <if test='filter2 != 0'>
            AND ASSET_SUB_CATEGORY_CODE = #{filter2}
        </if>
        <if test='filter3 != 0'>
            AND ASSET_DETAIL_CATEGORY_CODE = #{filter3}
        </if>
    </select>

    <select id="getAssetReservationCount" resultType="int">
        SELECT COUNT(*) FROM TB_ASSET_RESERVATION
        <if test='filter1 != 100'>
            WHERE RESERVATION_STATUS = #{filter1}
        </if>
    </select>

    <select id="getAssetReservationItemList" resultType="int">
        SELECT * FROM TB_ASSET_RESERVATION_ITEM WHERE IDX_ASSET_RESERVATION = #{idx}
    </select>


</mapper>