<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.ConsultingDAO">

    <select id="getWebpageMyConsultingCount" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM TB_DEMO_BS_CONSULTING  WHERE IDX_USER = #{idx_user}
    </select>
    <select id="getAdminConsultingCount" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM TB_DEMO_BS_CONSULTING  WHERE CONSULTANT_IDX = #{idx_admin}
    </select>

    <select id="getUserConsultingList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.DemoBsConsultingVO">
        SELECT
                IDX_DEMO_BS_CONSULTING
                ,CONSULTING_NUM
                ,IS_CONSULTANT
                ,CONSULTANT_IDX
                ,REQ_DATE
                ,CONSULTING_STATUS
                ,RESULVATION_DATE
                ,CONSULTING_DATE
                ,CONSULT_ANSWER_TYPE
                ,CONSULTING_GOAL
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS row_num
        ,IDX_DEMO_BS_CONSULTING
                      ,CONSULTING_NUM
          ,IS_CONSULTANT
          ,CONSULTANT_IDX
          ,REQ_DATE
                      ,CONSULTING_STATUS
                      ,RESULVATION_DATE
                      ,CONSULTING_DATE
                     ,CONSULT_ANSWER_TYPE
                      ,CONSULTING_GOAL
                 FROM (
                          SELECT * FROM TB_DEMO_BS_CONSULTING  WHERE IDX_USER=#{idx_user}
                      )

                 WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
             )
        WHERE row_num <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>

    <select id="getAdminConsultingList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.DemoBsConsultingVO">
        SELECT
                IDX_DEMO_BS_CONSULTING
                ,CONSULTING_NUM
                ,IS_CONSULTANT
                ,CONSULTANT_IDX
                ,REQ_DATE
                ,CONSULTING_STATUS
                ,RESULVATION_DATE
                ,CONSULTING_DATE
                ,CONSULT_ANSWER_TYPE
                ,CONSULTING_GOAL
        FROM (
            SELECT ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS row_num
                ,IDX_DEMO_BS_CONSULTING
                ,CONSULTING_NUM
                ,IS_CONSULTANT
                ,CONSULTANT_IDX
                ,REQ_DATE
                ,CONSULTING_STATUS
                ,RESULVATION_DATE
                ,CONSULTING_DATE
                ,CONSULT_ANSWER_TYPE
                ,CONSULTING_GOAL
            FROM (
            SELECT * FROM TB_DEMO_BS_CONSULTING  WHERE CONSULTANT_IDX=#{consultant_idx}
            )

            WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
            )
        WHERE row_num <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>



</mapper>