<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.ConsultingMapper">

    <select id="getWebpageMyConsultingCount" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM TB_DEMO_BS_CONSULTING  WHERE IDX_USER = #{idx_user}
    </select>
    <select id="getAdminConsultingCount" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM TB_DEMO_BS_CONSULTING  WHERE CONSULTANT_IDX = #{idx_admin}
    </select>
    <select id="getCountConsulting" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM TB_DEMO_BS_CONSULTING  ORDER BY CONSULTING_NUM ASC
    </select>
    <select id="getCunsultingList1" resultType="kr.or.fact.core.model.DTO.DemoBsConsultingVO">
        SELECT
            *
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by CONSULTING_NUM ASC) AS row_num
                ,TB_DEMO_BS_CONSULTING.IDX_USER,
                        TB_DEMO_BS_CONSULTING.IDX_DEMO_BS_CONSULTING,
                        TB_DEMO_BS_CONSULTING.CONSULTING_NUM,
                        TB_DEMO_BS_CONSULTING.IDX_DEMO_BS_APPLICAION,
                        TB_DEMO_BS_CONSULTING.IDX_DEMO_BUSINESS,
                        TB_DEMO_BS_CONSULTING.IDX_CORP_INFO,
                        TB_DEMO_BS_CONSULTING.CONSULTING_TYPE,
                        TB_DEMO_BS_CONSULTING.CONSULT_TYPE_ETC_STR,
                        TB_DEMO_BS_CONSULTING.CONSULTING_STATUS,
                        TB_DEMO_BS_CONSULTING.CONSULTING_GOAL,
                        TB_DEMO_BS_CONSULTING.REQ_DATE,
                        TB_DEMO_BS_CONSULTING.RESULVATION_DATE,
                        TB_DEMO_BS_CONSULTING.CONSULTING_DATE,
                        TB_DEMO_BS_CONSULTING.CONSULTANT_IDX,
                        TB_DEMO_BS_CONSULTING.IS_CONSULTING_FILE,
                        TB_DEMO_BS_CONSULTING.IS_RESULT_FILE,
                        TB_DEMO_BS_CONSULTING.IS_CONSULTANT,
                        TB_DEMO_BS_CONSULTING.CONSULT_ANSWER_TYPE,
                        TB_DEMO_BS_CONSULTING.IS_SHARE,
                        TB_DEMO_BS_CONSULTING.IS_PRIVACY_ACCEPT,
                        TB_DEMO_BS_CONSULTING.MEMO,
                        TB_DEMO_BS_CONSULTING.IDX_ADMIN,
                        TB_DEMO_BS_CONSULTING.REG_DATE
                         , TB_USER.USER_NAME, TB_USER.EMAIL, TB_USER.ADDR,TB_USER.MPHONE_NUM
                 FROM (
                          SELECT * FROM TB_DEMO_BS_CONSULTING
                      )TB_DEMO_BS_CONSULTING JOIN TB_USER ON TB_DEMO_BS_CONSULTING.IDX_USER= TB_USER.IDX_USER

                 WHERE ROWNUM <![CDATA[<=]]> #{page}*#{list_amount}
             )
        WHERE row_num <![CDATA[>]]> (#{page} -1)*#{list_amount}
    </select>
    <select id="getCunsultingListUser" parameterType="kr.or.fact.core.model.DTO.ParamPageListFilteredVO" resultType="kr.or.fact.core.model.DTO.DemoBsConsultingVO">
        SELECT TB_USER.IDX_USER, TB_USER.USER_NAME, TB_DEMO_BS_CONSULTING.IDX_USER FROM TB_USER,TB_DEMO_BS_CONSULTING WHERE TB_USER.IDX_USER= TB_DEMO_BS_CONSULTING.IDX_USER
    </select>
    <select id="getUserConsultingList" parameterType="kr.or.fact.core.model.DTO.ParamPageListFilteredVO" resultType="kr.or.fact.core.model.DTO.DemoBsConsultingVO">
        SELECT
                IDX_DEMO_BS_CONSULTING
                ,CONSULTING_NUM
                ,IS_CONSULTANT
                ,CONSULTANT_IDX
                ,REQ_DATE
                ,CONSULTING_STATUS
                ,RESULVATION_DATE
                ,CONSULTING_DATE
                ,CONSULT_ANSWER_TYPE
                ,CONSULTING_GOAL
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS row_num
                    ,IDX_DEMO_BS_CONSULTING
                    ,CONSULTING_NUM
                    ,IS_CONSULTANT
                    ,CONSULTANT_IDX
                    ,REQ_DATE
                    ,CONSULTING_STATUS
                    ,RESULVATION_DATE
                    ,CONSULTING_DATE
                    ,CONSULT_ANSWER_TYPE
                    ,CONSULTING_GOAL
                 FROM (
                          SELECT * FROM TB_DEMO_BS_CONSULTING  WHERE IDX_USER=#{idx}
                      )

                 WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
             )
        WHERE row_num <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>

    <select id="getAdminConsultingList" parameterType="kr.or.fact.core.model.DTO.ParamPageListFilteredVO" resultType="kr.or.fact.core.model.DTO.DemoBsConsultingVO">
        SELECT
                IDX_DEMO_BS_CONSULTING
                ,CONSULTING_NUM
                ,IS_CONSULTANT
                ,CONSULTANT_IDX
                ,REQ_DATE
                ,CONSULTING_STATUS
                ,RESULVATION_DATE
                ,CONSULTING_DATE
                ,CONSULT_ANSWER_TYPE
                ,CONSULTING_GOAL
        FROM (
            SELECT ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS row_num
                ,IDX_DEMO_BS_CONSULTING
                ,CONSULTING_NUM
                ,IS_CONSULTANT
                ,CONSULTANT_IDX
                ,REQ_DATE
                ,CONSULTING_STATUS
                ,RESULVATION_DATE
                ,CONSULTING_DATE
                ,CONSULT_ANSWER_TYPE
                ,CONSULTING_GOAL
            FROM (
            SELECT * FROM TB_DEMO_BS_CONSULTING  WHERE CONSULTANT_IDX=#{idx}
            )

            WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
            )
        WHERE row_num <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>


    <insert id="saveDemoBsConsulting" parameterType="kr.or.fact.core.model.DTO.DemoBsConsultingVO">
        INSERT INTO TB_DEMO_BS_CONSULTING (
            IDX_DEMO_BS_CONSULTING,
            CONSULTING_NUM,
            IDX_DEMO_BS_APPLICAION,
            IDX_DEMO_BUSINESS,
            IDX_CORP_INFO,
            IDX_USER,
            CONSULTING_TYPE,
            CONSULT_TYPE_ETC_STR,
            CONSULTING_STATUS,
            CONSULTING_GOAL,
            REQ_DATE,
            RESULVATION_DATE,
            CONSULTING_DATE,
            CONSULTANT_IDX,
            IS_CONSULTING_FILE,
            IS_RESULT_FILE,
            IS_CONSULTANT,
            CONSULT_ANSWER_TYPE,
            IS_SHARE,
            IS_PRIVACY_ACCEPT,
            MEMO,
            IDX_ADMIN,
            REG_DATE
        ) VALUES (
                     SEQ_DEMO_BS_CONSULTING.NEXTVAL,
                     #{consulting_num},
                     #{idx_demo_bs_applicaion},
                     #{idx_demo_business},
                     #{idx_corp_info},
                     #{idx_user},
                     #{consulting_type},
                     #{consult_type_etc_str},
                     #{consulting_status},
                     #{consulting_goal},
                     #{req_date},
                     #{resulvation_date},
                     #{consulting_date},
                     #{consultant_idx},
                     #{is_consulting_file},
                     #{is_result_file},
                     #{is_consultant},
                     #{consult_answer_type},
                     #{is_share},
                     #{is_privacy_accept},
                     #{memo},
                     #{idx_admin},
                     SYSDATE
                 )

    </insert>
<delete id="deleteConsult" parameterType="int">
    DELETE FROM TB_DEMO_BS_CONSULTING WHERE IDX_DEMO_BS_CONSULTING = #{idx_demo_bs_consulting}
</delete>


    <update id="updateConsult" parameterType="kr.or.fact.core.model.DTO.DemoBsConsultingVO">
        UPDATE TB_DEMO_BS_CONSULTING  SET
                                          RESULVATION_DATE=#{resulvation_date}
        WHERE IDX_DEMO_BS_CONSULTING = #{idx_demo_bs_consulting}
    </update>
</mapper>