<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.ConsoleNoticeMapper">

    <select id="getConsoleNoticeCount" parameterType="kr.or.fact.core.model.DTO.ParamPageListFilteredVO" resultType="kr.or.fact.core.model.DTO.ConsoleNoticeFilteredCountVO">
        SELECT (SELECT COUNT(*) FROM TB_CONSOLE_NOTICE ) AS TOT_COUNT,
               (SELECT COUNT(*) FROM TB_CONSOLE_NOTICE WHERE NOTICE_TYPE = 0) AS COMMON_COUNT,
               (SELECT COUNT(*) FROM TB_CONSOLE_NOTICE WHERE NOTICE_TYPE = 1) AS INDIVIDUAL_COUNT,
               (SELECT COUNT(*) FROM TB_CONSOLE_NOTICE WHERE NOTICE_TYPE = 99) AS ETC_COUNT
        FROM TB_CONSOLE_NOTICE WHERE ROWNUM = 1
    </select>

    <select id="getConsoleNoticeByUserIdx" parameterType="long" resultType="kr.or.fact.core.model.DTO.ConsoleNoticeVO">
        SELECT
            *
        FROM TB_CONSOLE_NOTICE WHERE IDX_CONSOLE_NOTICE = #{idx_console_notice}
    </select>

    <select id="getConsoleNoticeList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.ConsoleNoticeVO">
        SELECT
            *
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS ROW_NUM
              ,t.*
                 FROM TB_CONSOLE_NOTICE t
                 WHERE ROWNUM <![CDATA[<=]]> #{cur_page}*#{list_amount}
             )
        WHERE ROW_NUM <![CDATA[>]]> (#{cur_page} -1)*#{list_amount}
    </select>

    <select id="getConsoleNoticeFilteredList" parameterType="kr.or.fact.core.model.DTO.ParamPageListFilteredVO" resultType="kr.or.fact.core.model.DTO.ConsoleNoticeVO">
        SELECT
        *
        FROM (
            SELECT ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS ROW_NUM,
            t.*
            FROM (
                SELECT * FROM TB_CONSOLE_NOTICE
                <if test="filter1 != 9999">
                    WHERE NOTICE_TYPE != #{filter1}
                </if>
            ) t
            WHERE ROWNUM <![CDATA[<=]]> #{cur_page}*#{list_amount}
        )
        WHERE ROW_NUM <![CDATA[>]]> (#{cur_page} -1)*#{list_amount}
    </select>

    <insert id="insertConsoleNotice" parameterType="kr.or.fact.core.model.DTO.ConsoleNoticeVO">

    </insert>
    <update id="updConsoleNotice"  parameterType="kr.or.fact.core.model.DTO.ConsoleNoticeVO">

    </update>


</mapper>