<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.CorpMapper">

    <select id="getCorpInfoByIdx" parameterType="long" resultType="kr.or.fact.core.model.DTO.CorpInfoVO">
        SELECT * FROM TB_CORP_INFO  WHERE IDX_CORP_INFO=#{idx_corp_info}
    </select>

    <select id="getUserCorp" parameterType="long" resultType="kr.or.fact.core.model.DTO.CorpInfoVO">
        SELECT * FROM TB_CORP_INFO  WHERE IDX_USER=#{idx_user}
    </select>

    <select id="getSimpleCorpInfoList" parameterType="String" resultType="kr.or.fact.core.model.DTO.SimpleCorpInfoVO">
        SELECT * FROM TB_CORP_INFO  WHERE CORP_NAME_KOR LIKE '%' ||  #{corp_name_kor} || '%'
    </select>


    <insert id="saveCorpInfo" parameterType="kr.or.fact.core.model.DTO.CorpInfoVO">
        INSERT INTO TB_CORP_INFO (
            IDX_CORP_INFO,
            CORP_NAME_KOR,
            COMPANY_NUM,
            CORP_REG_NUM,
            TEL_NUM,
            FAX_NUM,
            EMAIL,
            HOMEPAGE,
            CORP_ADDR,
            CORP_ADDR2,
            IS_OTHER_ADDR,
            OTHER_ADDR,
            SALES_IN_PREV,
            CA_RATIO,
            EMPLOEE_NUM,
            BS_SECTOR,
            PRODUCT,
            CORP_TYPE,
            IS_BENTURE,
            BS_PLAN,
            IS_APPLICANT,
            DEMO_FACILITY_TYPE,
            DEMO_FACILITY_ETC,
            FOUNDING_DATE,
            CEO_NAME_KOR,
            CEO_ADDR,
            CEO_TEL_NUM,
            CEO_MPHONE_NUM,
            CEO_EMAIL,
            REG_DATE,
            LAST_UPD_DATE
        ) VALUES (
             SEQ_CORP_INFO.NEXTVAL,
             #{corp_name_kor},
             #{company_num},
             #{corp_reg_num},
             #{tel_num},
             #{fax_num},
             #{email},
             #{homepage},
             #{corp_addr},
             #{corp_addr2},
             #{is_other_addr},
             #{other_addr},
             #{sales_in_prev},
             #{ca_ratio},
             #{emploee_num},
             #{bs_sector},
             #{product},
             #{corp_type},
             #{is_benture},
             #{bs_plan},
             #{is_applicant},
             #{demo_facility_type},
             #{demo_facility_etc},
             #{founding_date},
             #{ceo_name_kor},
             #{ceo_addr},
             #{ceo_tel_num},
             #{ceo_mphone_num},
             #{ceo_email},

             SYSDATE,
             SYSDATE
         )
        <selectKey resultType="long" order="AFTER">
         SELECT SEQ_CORP_INFO.CURRVAL FROM DUAL
        </selectKey>

    </insert>

    <select id="getCurCorpIdx" resultType="long">
        SELECT SEQ_CORP_INFO.CURRVAL FROM DUAL
    </select>



    <update id="updateCorpInfo" parameterType="kr.or.fact.core.model.DTO.CorpInfoVO">
        UPDATE TB_CORP_INFO SET
           <if test="corp_name_kor != null">
           CORP_NAME_KOR   = #{corp_name_kor},
           </if>
           <if test="tel_num != null">
           TEL_NUM         = #{tel_num},
           </if>
           <if test="homepage != null">
           HOMEPAGE        = #{homepage},
           </if>
           <if test="corp_addr != null">
           CORP_ADDR       = #{corp_addr},
           </if>
           LAST_UPD_DATE = SYSDATE
        WHERE IDX_CORP_INFO = #{idx_corp_info}
    </update>
    <select id="selectCorpInfo" resultType="kr.or.fact.core.model.DTO.CorpInfoVO">
        SELECT * FROM TB_CORP_INFO ORDER BY IDX_CORP_INFO DESC
    </select>

    <insert id="insertCorpManager" parameterType="kr.or.fact.core.model.DTO.CorpManagerVO">
        INSERT INTO TB_CORP_MANAGER (
            IDX_CORP_MANAGER,
            MANAGER_NAME_KOR,
            CORP_MANAGER_TYPE,
            MPHONE_NUM,
            EMAIL,
            IDX_CORP_INFO,
            IDX_USER,
            REG_DATE,
            LAST_UPD_DATE
        ) VALUES (
            SEQ_CORP_MANAGER.NEXTVAL,
            #{manager_name_kor},
            #{corp_manager_type},
            #{mphone_num},
            #{email},
            #{idx_corp_info},
            #{idx_user},
            SYSDATE,
            SYSDATE
        )
    </insert>

    <select id="selectCorpManagerList" resultType="kr.or.fact.core.model.DTO.CorpManagerVO">
        SELECT * FROM TB_CORP_MANAGER WHERE IDX_CORP_INFO = #{idx_corp}
    </select>

    <delete id="deleteCorpManager" parameterType="kr.or.fact.core.model.DTO.CorpManagerVO">
        DELETE TB_CORP_MANAGER WHERE IDX_USER = #{idx_user}
    </delete>

    <select id="getCorpManagerUserIdx" resultType="kr.or.fact.core.model.DTO.CorpManagerVO">
        SELECT * FROM TB_CORP_MANAGER WHERE IDX_USER = #{idx_user}
    </select>

    <update id="updateCorpManager" parameterType="kr.or.fact.core.model.DTO.CorpManagerVO">
        UPDATE TB_CORP_MANAGER SET
            MPHONE_NUM = #{mphone_num}
        WHERE IDX_CORP_MANAGER = #{idx_corp_manager}
    </update>

    <select id="getCorpCount" resultType="Integer">
        SELECT COUNT(*) FROM TB_CORP_INFO
        <if test="is_applicant != 0">
            WHERE IS_APPLICANT = #{is_applicant}
        </if>
    </select>
</mapper>