<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.DemoBsMapper">

    <select id="getDemoBsTotalCount" resultType="int">
        SELECT COUNT (*) FROM TB_DEMO_BUSINESS
    </select>

    <select id="getDemoBsList" resultType="kr.or.fact.core.model.DTO.DemoBusinessVO">
        SELECT * FROM TB_DEMO_BUSINESS ORDER BY START_DATE DESC
    </select>


    <select id="getDemoBsPagingList" parameterType="kr.or.fact.core.model.DTO.ParamPageListFilteredVO" resultType="kr.or.fact.core.model.DTO.DemoBusinessVO">
        SELECT
        IDX_DEMO_BUSINESS
        ,DEMO_BS_CODE
        ,DEMO_SUBJECT
        ,DEMO_BS_CONTENTS
        ,DEMO_BS_MAIN_TYPE
        ,DEMO_BS_SUB_TYPE
        ,DEMO_BS_DETAIL_TYPE
        ,DEMO_BS_STATUS
        ,APPLICANT_COUNT
        ,APPLICANT_COUNT_LIMIT
        ,START_DATE
        ,END_DATE
        ,RECRUIT_START_DATE
        ,RECRUIT_END_DATE
        ,RECRUIT_COUNT_LIMIT
        ,MEMO
        ,IDX_ADMIN
        ,REG_DATE
        ,LAST_UPD_DATE
        ,IDX_CONFORM_ADMIN
        ,IS_ANNOUNCE
        ,EXAM_START
        ,EXAM_END
        ,PLAN_REVIEW_START
        ,PLAN_REVIEW_END
        ,CONVENTION_START
        ,CONVENTION_END
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS row_num
        ,IDX_DEMO_BUSINESS
        ,DEMO_BS_CODE
        ,DEMO_SUBJECT
        ,DEMO_BS_CONTENTS
        ,DEMO_BS_MAIN_TYPE
        ,DEMO_BS_SUB_TYPE
        ,DEMO_BS_DETAIL_TYPE
        ,DEMO_BS_STATUS
        ,APPLICANT_COUNT
        ,APPLICANT_COUNT_LIMIT
        ,START_DATE
        ,END_DATE
        ,RECRUIT_START_DATE
        ,RECRUIT_END_DATE
        ,RECRUIT_COUNT_LIMIT
        ,MEMO
        ,IDX_ADMIN
        ,REG_DATE
        ,LAST_UPD_DATE
        ,IDX_CONFORM_ADMIN
        ,IS_ANNOUNCE
        ,EXAM_START
        ,EXAM_END
        ,PLAN_REVIEW_START
        ,PLAN_REVIEW_END
        ,CONVENTION_START
        ,CONVENTION_END
                 FROM (
                          SELECT * FROM TB_DEMO_BUSINESS
                        <if test="filter1 != 9999">
                            WHERE DEMO_BS_STATUS = #{filter1}
                        </if>
                        <if test="filter2 != 9998">
                            OR DEMO_BS_STATUS = #{filter2}
                        </if>
                        ORDER BY IDX_DEMO_BUSINESS DESC
                      )
                 WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
             )
        WHERE row_num <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>

    <select id="isValidCode" parameterType="String" resultType="String">
        SELECT DEMO_BS_CODE FROM TB_DEMO_BUSINESS WHERE DEMO_BS_CODE = #{code}
    </select>


    <select id="getDemoBsListByFilter" parameterType="int" resultType="kr.or.fact.core.model.DTO.DemoBusinessVO">
        SELECT * FROM TB_DEMO_BUSINESS WHERE DEMO_BS_STATUS = #{type} ORDER BY START_DATE DESC
    </select>

    <select id="getDemoBsByIdx" parameterType="long" resultType="kr.or.fact.core.model.DTO.DemoBusinessVO">
        SELECT * FROM TB_DEMO_BUSINESS  WHERE IDX_DEMO_BUSINESS = #{idx}
    </select>

    <insert id="saveDemoBs" parameterType="kr.or.fact.core.model.DTO.DemoBusinessVO">
        INSERT INTO TB_DEMO_BUSINESS (
            IDX_DEMO_BUSINESS,
            DEMO_BS_CODE,
            DEMO_SUBJECT,
            DEMO_BS_CONTENTS,
            DEMO_BS_MAIN_TYPE,
            DEMO_BS_SUB_TYPE,
            DEMO_BS_DETAIL_TYPE,
            DEMO_BS_STATUS,
            APPLICANT_COUNT,
            APPLICANT_COUNT_LIMIT,
            START_DATE,
            END_DATE,
            RECRUIT_START_DATE,
            RECRUIT_END_DATE,
            RECRUIT_COUNT_LIMIT,
            MEMO,
            IDX_ADMIN,
            IDX_CONFORM_ADMIN,
            IS_ANNOUNCE,
            EXAM_START,
            EXAM_END,
            PLAN_REVIEW_START,
            PLAN_REVIEW_END,
            CONVENTION_START,
            CONVENTION_END,
            REG_DATE,
            LAST_UPD_DATE
        ) VALUES (
                     SEQ_DEMO_BUSINESS.NEXTVAL,
                     #{demo_bs_code},
                     #{demo_subject},
                     #{demo_bs_contents},
                     #{demo_bs_main_type},
                     #{demo_bs_sub_type},
                     #{demo_bs_detail_type},
                     #{demo_bs_status},
                     #{applicant_count},
                     #{applicant_count_limit},
                     #{start_date},
                     #{end_date},
                     #{recruit_start_date},
                     #{recruit_end_date},
                     #{recruit_count_limit},
                     #{memo},
                     #{idx_admin},
                     #{idx_conform_admin},
                     #{is_announce},
                     #{exam_start},
                     #{exam_end},
                     #{plan_review_start},
                     #{plan_review_end},
                     #{convention_start},
                     #{convention_end},
                     SYSDATE,
                     SYSDATE
                 )

    </insert>

    <update id="updateDemoBs" parameterType="kr.or.fact.core.model.DTO.DemoBusinessVO">
        UPDATE TB_DEMO_BUSINESS SET
               DEMO_BS_CODE=#{demo_bs_code},
               DEMO_SUBJECT=#{demo_subject},
               DEMO_BS_CONTENTS=#{demo_bs_contents},
               DEMO_BS_MAIN_TYPE=#{demo_bs_main_type},
               DEMO_BS_SUB_TYPE=#{demo_bs_sub_type},
               DEMO_BS_DETAIL_TYPE=#{demo_bs_detail_type},
               DEMO_BS_STATUS=#{demo_bs_status},
               APPLICANT_COUNT=#{applicant_count},
               APPLICANT_COUNT_LIMIT=#{applicant_count_limit},
               START_DATE=#{start_date},
               END_DATE=#{end_date},
               RECRUIT_START_DATE=#{recruit_start_date},
               RECRUIT_END_DATE=#{recruit_end_date},
               RECRUIT_COUNT_LIMIT=#{recruit_count_limit},
               MEMO=#{memo},
               IDX_ADMIN=#{idx_admin},
               IDX_CONFORM_ADMIN=#{idx_conform_admin},
               IS_ANNOUNCE=#{is_announce},
               LAST_UPD_DATE = SYSDATE
        WHERE IDX_DEMO_BUSINESS = #{idx_demo_business}
    </update>

    <update id="updateBsApproval" parameterType="kr.or.fact.core.model.DTO.DemoBusinessVO">
        UPDATE TB_DEMO_BUSINESS SET
                IDX_CONFORM_ADMIN=#{idx_conform_admin},
                DEMO_BS_STATUS = 2
        WHERE IDX_DEMO_BUSINESS = #{idx_demo_business}
    </update>

    <update id="updateBsContent" parameterType="kr.or.fact.core.model.DTO.DemoBusinessVO">
        UPDATE TB_DEMO_BUSINESS SET
            <if test="demo_bs_code != null"> DEMO_BS_CODE = #{demo_bs_code},</if>
            <if test="demo_subject != null"> DEMO_SUBJECT = #{demo_subject},</if>
            <if test="demo_bs_contents != null"> DEMO_BS_CONTENTS= #{demo_bs_contents},</if>
            <if test="demo_bs_main_type != null"> DEMO_BS_MAIN_TYPE = #{demo_bs_main_type},</if>
            <if test="demo_bs_sub_type != null"> DEMO_BS_SUB_TYPE = #{demo_bs_sub_type},</if>
            <if test="demo_bs_detail_type != null"> DEMO_BS_DETAIL_TYPE = #{demo_bs_detail_type},</if>
            <if test="demo_bs_status != null"> DEMO_BS_STATUS = #{demo_bs_status},</if>
            <if test="applicant_count != null"> APPLICANT_COUNT = #{applicant_count},</if>
            <if test="applicant_count_limit != null"> APPLICANT_COUNT_LIMIT = #{applicant_count_limit},</if>
            <if test="start_date != null"> START_DATE = #{start_date},</if>
            <if test="end_date != null"> END_DATE = #{end_date},</if>
            <if test="recruit_start_date != null"> RECRUIT_START_DATE = #{recruit_start_date},</if>
            <if test="recruit_end_date != null"> RECRUIT_END_DATE = #{recruit_end_date},</if>
            <if test="recruit_count_limit != null"> RECRUIT_COUNT_LIMIT = #{recruit_count_limit},</if>
            <if test="memo != null"> MEMO=#{memo},</if>
            <if test="idx_admin != null"> IDX_ADMIN=#{idx_admin},</if>
            <if test="idx_conform_admin != null"> IDX_CONFORM_ADMIN=#{idx_conform_admin},</if>
            <if test="is_announce != null"> IS_ANNOUNCE=#{is_announce},</if>
            <if test="exam_start != null"> EXAM_START=#{exam_start},</if>
            <if test="exam_end != null"> EXAM_END=#{exam_end},</if>
            <if test="plan_review_start != null"> PLAN_REVIEW_START=#{plan_review_start},</if>
            <if test="plan_review_end != null"> PLAN_REVIEW_END=#{plan_review_end},</if>
            <if test="convention_start != null"> CONVENTION_START=#{convention_start},</if>
            <if test="convention_end != null"> CONVENTION_END=#{convention_end},</if>
            LAST_UPD_DATE = SYSDATE
        WHERE IDX_DEMO_BUSINESS = #{idx_demo_business}
    </update>


    <delete id="deleteDemoBs" parameterType="long">
        DELETE FROM TB_DEMO_BUSINESS WHERE IDX_DEMO_BUSINESS = #{idx_demo_business}
    </delete>

    <select id="getAdminDemoBsFilter" resultType="kr.or.fact.core.model.DTO.AdminDemoBSFilterVO">
        SELECT (SELECT COUNT(*) FROM TB_DEMO_BUSINESS ) AS TOT_COUNT,
               (SELECT COUNT(*) FROM TB_DEMO_BUSINESS WHERE DEMO_BS_STATUS = 3 OR DEMO_BS_STATUS = 4) AS APPL_COUNT,
               (SELECT COUNT(*) FROM TB_DEMO_BUSINESS WHERE DEMO_BS_STATUS = 5 OR DEMO_BS_STATUS = 6)  AS REVUIEW_COUNT,
               (SELECT COUNT(*) FROM TB_DEMO_BUSINESS WHERE DEMO_BS_STATUS = 7 OR DEMO_BS_STATUS = 8) AS AGREE_COUNT,
               (SELECT COUNT(*) FROM TB_DEMO_BUSINESS WHERE DEMO_BS_STATUS = 9 OR DEMO_BS_STATUS = 10) AS DEMO_COUNT,
               (SELECT COUNT(*) FROM TB_DEMO_BUSINESS WHERE DEMO_BS_STATUS = 11 OR DEMO_BS_STATUS = 12) AS RESULT_COUNT
        FROM TB_DEMO_BUSINESS WHERE ROWNUM = 1
    </select>



    <select id="getAvailibleDemoBs" resultType="kr.or.fact.core.model.DTO.DemoBusinessVO">
        SELECT * FROM TB_DEMO_BUSINESS  WHERE DEMO_BS_STATUS = 3
    </select>


</mapper>
