<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.EnvDataMapper">

    <select id="getEnvDataTotalCount" resultType="int">
        SELECT COUNT (*) FROM TB_ENV_DATA
    </select>

    <select id="getExternalEnvData" resultType="kr.or.fact.core.model.DTO.ExternalEnvVO">
        SELECT
        *
        FROM (
        SELECT ROW_NUMBER() OVER(ORDER by IDX_TB_ENV_DATA DESC) AS row_num
        ,IDX_TB_ENV_DATA,YMDTIME,XOUTTEMP,XWINDDIREC,XRAIN
        FROM (
        SELECT * FROM TB_ENV_DATA

        ORDER BY IDX_TB_ENV_DATA DESC
        )
        WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
        )
        WHERE row_num <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>
    <select id="getRootZoneEnvData" resultType="kr.or.fact.core.model.DTO.RootZoneEnvVO">
        SELECT
            *
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by IDX_TB_ENV_DATA DESC) AS row_num
        ,IDX_TB_ENV_DATA,FARM_CD,YMDTIME,XCO2,XGNDTEMP,XGNDHUM,XPH1,XPH2,XEC1,XEC2
                 FROM (
                          SELECT * FROM TB_ENV_DATA

                          ORDER BY IDX_TB_ENV_DATA DESC
                      )
                 WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
             )
        WHERE row_num <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>
    <select id="getInternalEnvData" resultType="kr.or.fact.core.model.DTO.InternalEnvVO">
        SELECT
            *
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by IDX_TB_ENV_DATA DESC) AS row_num
        ,IDX_TB_ENV_DATA,FARM_CD,GUYOK,YMDTIME,XINTEMP1,XINTEMP2,XINTEMP3,XABHUM,XINHUM1,XINHUM2,XINHUM3,XCO2,XSUNVOL,XDHUM
                 FROM (
                          SELECT * FROM TB_ENV_DATA

                          ORDER BY IDX_TB_ENV_DATA DESC
                      )
                 WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
             )
        WHERE row_num <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>

</mapper>