<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.EventContentDAO">

    <select id="getMainEventContentCount" resultType="int">
        SELECT COUNT(*) FROM TB_EVENT_CONTENT  WHERE IS_MAIN_PAGE=1
    </select>

    <select id="getWebpageEventContentCount" resultType="int">
        SELECT COUNT(*) FROM TB_EVENT_CONTENT  WHERE IS_SHOW=1 AND EVENT_CONTENT_STATUS=1
    </select>

    <select id="getEventContentList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.EventContentVO">
        SELECT
            IDX_EVENT_CONTENT
             ,EVENT_CONTENT_NUM
             ,SUBJECT
             ,IS_FILE
             ,IS_NEW
             ,AUTHOR
             ,LAST_UPD_DATE
             ,VIEW_COUNT
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS row_num
        ,IDX_EVENT_CONTENT
                      ,EVENT_CONTENT_NUM
                      ,SUBJECT
                      ,IS_FILE
                      ,IS_NEW
                      ,AUTHOR
                      ,LAST_UPD_DATE
                      ,VIEW_COUNT
                 FROM (
                          SELECT * FROM TB_EVENT_CONTENT  WHERE IS_SHOW=1 AND EVENT_CONTENT_STATUS=1
                      )

                 WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
             )
        WHERE row_num <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>

    <select id="getMainEventContentList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.EventContentVO">
        SELECT * FROM TB_EVENT_CONTENT  WHERE  IS_MAIN_PAGE=1;
    </select>

</mapper>