<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.FileServiceMapper">
    <insert id="storeFileInfo" parameterType="org.springframework.web.multipart.MultipartFile">
        INSERT INTO TB_FILE_INFO (
            IDX_FILE_INFO,
            FILE_NAME,
            FILE_TYPE,
            FILE_STATUS,
            MIME_TYPE,
            ENCODING,
            EXTENTION,
            FILE_SECURE_TYPE,
            FILE_PATH,
            FILE_SIZE,
            CHECKSUM,
            OWNER,
            IDX_USER,
            IDX_ADMIN,
            REG_DATE
        ) VALUES (
            SEQ_FILE_INFO.NEXTVAL,
            #{file_name},
            #{file_type},
            #{file_status},
            #{mime_type},
            #{encoding},
            #{extention},
            #{file_secure_type},
            #{file_path},
            #{file_size},
            #{checksum},
            #{owner},
            #{idx_user},
            #{idx_admin},
            SYSDATE
        )
    </insert>

    <update id="updateFileInfoForFormRuleFile" parameterType="kr.or.fact.core.model.DTO.FileInfoVO">
        UPDATE TB_FILE_INFO SET
            FILE_NAME=#{file_name},
            FILE_STATUS=#{file_status},
            MIME_TYPE=#{mime_type},
            ENCODING=#{encoding},
            EXTENTION=#{extention},
            FILE_SECURE_TYPE=#{file_secure_type},
            FILE_PATH=#{file_path},
            FILE_SIZE=#{file_size},
            OWNER=#{owner},
            IDX_ADMIN=#{idx_admin}
        WHERE FILE_TYPE=#{file_type} AND IDX_FILE_USAGE=#{idx_file_usage}
    </update>

    <update id="updateFileInfo" parameterType="kr.or.fact.core.model.DTO.FileInfoVO">
        UPDATE TB_FILE_INFO SET
            FILE_NAME=#{file_name}
            <if test="file_type != null">
            , FILE_TYPE=#{file_type}
            </if>
            <if test="file_size != null">
            , FILE_SIZE=#{file_size}
            </if>
            <if test="file_status != null">
            , FILE_STATUS=#{file_status}
            </if>
            , MIME_TYPE=#{mime_type}
            <if test="file_path != null">
            , FILE_PATH=#{file_path}
            </if>
        WHERE IDX_FILE_INFO = #{idx_file_info}
    </update>

    <delete id="deleteFileInfo" parameterType="long">
        DELETE FROM TB_FILE_INFO WHERE IDX_FILE_INFO = #{idx_file_info}
    </delete>

    <select id="getFileInfo" parameterType="long" resultType="kr.or.fact.core.model.DTO.FileInfoVO">

        SELECT * FROM TB_FILE_INFO WHERE IDX_FILE_INFO = #{idx_file_info}
    </select>

    <select id="getFileInfoListByNotice" parameterType="long" resultType="kr.or.fact.core.model.DTO.FileInfoVO">

        SELECT B.*
        FROM TB_NOTICE_FILE_JOIN A
        JOIN TB_FILE_INFO B ON A.IDX_FILE_INFO = B.IDX_FILE_INFO
        WHERE A.IDX_NOTICE = #{idx_notice}
    </select>

    <select id="getFormFileInfoList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.FormFileInfoVO">
    SELECT * FROM (
        SELECT
                ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS ROW_NUM,
                IDX_FORM_FILE_INFO,
                SUBJECT,
                USAGE_DETAIL,
                IDX_ADMIN,
                ORDER_NUM,
                IDX_FILE_INFO,
                REG_DATE,
                FILE_NAME,
                FILE_TYPE,
                EXTENTION,
                FILE_PATH
                FROM (
                    SELECT
                        A.IDX_FORM_FILE_INFO,
                        A.SUBJECT,
                        A.USAGE_DETAIL,
                        A.IDX_ADMIN,
                        A.ORDER_NUM,
                        A.IDX_FILE_INFO,
                        A.REG_DATE,
                        B.FILE_NAME,
                        B.FILE_TYPE,
                        B.EXTENTION,
                        B.FILE_PATH
                    FROM TB_FORM_FILE_INFO A
                    JOIN TB_FILE_INFO B
                        ON A.IDX_FILE_INFO = B.IDX_FILE_INFO AND B.FILE_TYPE = 4 AND B.FILE_STATUS=0
                     )
                WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
                )
        WHERE ROW_NUM <![CDATA[>]]> (#{page_num} -1)*#{amount}

    </select>

    <insert id="insertFormFileInfo" parameterType="kr.or.fact.core.model.DTO.FormFileInfoVO" useGeneratedKeys="true">

        INSERT INTO TB_FORM_FILE_INFO (
            IDX_FORM_FILE_INFO,
            SUBJECT,
            USAGE_DETAIL,
            IDX_ADMIN,
            ORDER_NUM,
            IDX_FILE_INFO,
            REG_DATE
        ) VALUES (
                     SEQ_FORM_FILE_INFO.NEXTVAL,
                     #{subject},
                     #{usage_detail},
                     #{idx_admin},
                     #{order_num},
                     SEQ_FILE_INFO.CURRVAL,
                     SYSDATE
                 )

    </insert>
    <select id="getFormFileInfo" parameterType="long" resultType="kr.or.fact.core.model.DTO.FormFileInfoVO">

       SELECT
           A.IDX_FORM_FILE_INFO,
           A.SUBJECT,
           A.USAGE_DETAIL,
           A.IDX_ADMIN,
           A.ORDER_NUM,
           A.IDX_FILE_INFO,
           A.REG_DATE,
           B.FILE_NAME,
           B.FILE_TYPE,
           B.EXTENTION,
           B.FILE_PATH
       FROM TB_FORM_FILE_INFO A
                JOIN TB_FILE_INFO B
                     ON A.IDX_FILE_INFO = B.IDX_FILE_INFO AND B.FILE_TYPE = 4 AND B.FILE_STATUS=0 AND A.IDX_FORM_FILE_INFO=#{idx_form_file_info}


    </select>


    <select id="getRuleFileInfoList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.RuleFileInfoVO">
        SELECT * FROM (
                          SELECT
                              ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS ROW_NUM,
                              IDX_RULE_FILE_INFO,
                              SUBJECT,
                              USAGE_DETAIL,
                              DEPART_NAME,
                              IDX_ADMIN,
                              ORDER_NUM,
                              IDX_FILE_INFO,
                              REG_DATE,
                              FILE_NAME,
                              FILE_TYPE,
                              EXTENTION,
                              FILE_PATH
                          FROM (
                                   SELECT
                                       A.IDX_RULE_FILE_INFO,
                                       A.SUBJECT,
                                       A.USAGE_DETAIL,
                                       A.DEPART_NAME,
                                       A.IDX_ADMIN,
                                       A.ORDER_NUM,
                                       A.IDX_FILE_INFO,
                                       A.REG_DATE,
                                       B.FILE_NAME,
                                       B.FILE_TYPE,
                                       B.EXTENTION,
                                       B.FILE_PATH
                                   FROM TB_RULE_FILE_INFO A
                                            JOIN TB_FILE_INFO B
                                                 ON A.IDX_FILE_INFO = B.IDX_FILE_INFO AND B.FILE_TYPE = 5 AND B.FILE_STATUS=0
                               )
                          WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
                      )
        WHERE ROW_NUM <![CDATA[>]]> (#{page_num} -1)*#{amount}

    </select>

    <insert id="insertRuleFileInfo" parameterType="kr.or.fact.core.model.DTO.RuleFileInfoVO">
        INSERT INTO TB_RULE_FILE_INFO (
            IDX_RULE_FILE_INFO,
            SUBJECT,
            USAGE_DETAIL,
            DEPART_NAME,
            IDX_ADMIN,
            ORDER_NUM,
            IDX_FILE_INFO,
            REG_DATE
        ) VALUES (
                     SEQ_RULE_FILE_INFO.NEXTVAL,
                     #{subject},
                     #{usage_detail},
                     #{depart_name},
                     #{idx_admin},
                     #{order_num},
                     SEQ_FILE_INFO.CURRVAL,
                     SYSDATE
                 )
    </insert>
    <select id="getRuleFileInfo" parameterType="long" resultType="kr.or.fact.core.model.DTO.RuleFileInfoVO">

        SELECT
            A.IDX_RULE_FILE_INFO,
            A.SUBJECT,
            A.USAGE_DETAIL,
            A.DEPART_NAME,
            A.IDX_ADMIN,
            A.ORDER_NUM,
            A.IDX_FILE_INFO,
            A.REG_DATE,
            B.FILE_NAME,
            B.FILE_TYPE,
            B.EXTENTION,
            B.FILE_PATH
        FROM TB_RULE_FILE_INFO A
                 JOIN TB_FILE_INFO B
                      ON A.IDX_FILE_INFO = B.IDX_FILE_INFO AND B.FILE_TYPE = 5 AND B.FILE_STATUS=0 AND A.IDX_RULE_FILE_INFO=#{idx_rule_file_info}


    </select>

    <select id="getFormFileTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM TB_FORM_FILE_INFO A
                 JOIN TB_FILE_INFO B
                      ON A.IDX_FILE_INFO = B.IDX_FILE_INFO AND B.FILE_TYPE = 4 AND B.FILE_STATUS=0
    </select>

    <select id="getRuleFileTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM TB_RULE_FILE_INFO A
                 JOIN TB_FILE_INFO B
                      ON A.IDX_FILE_INFO = B.IDX_FILE_INFO AND B.FILE_TYPE = 5 AND B.FILE_STATUS=0
    </select>
<select id="getFormFileList" resultType="kr.or.fact.core.model.DTO.FormFileInfoVO">
    SELECT A.IDX_FORM_FILE_INFO,
           A.SUBJECT,
           A.USAGE_DETAIL,
           B.FILE_PATH
    FROM TB_FORM_FILE_INFO A JOIN TB_FILE_INFO B ON A.IDX_FILE_INFO=B.IDX_FILE_INFO
</select>
    <select id="getRuleFileInfoList1" resultType="kr.or.fact.core.model.DTO.RuleFileInfoVO">
        SELECT A.IDX_RULE_FILE_INFO,
               A.SUBJECT,
               A.USAGE_DETAIL,
               A.DEPART_NAME,
               B.FILE_PATH
        FROM TB_RULE_FILE_INFO A JOIN TB_FILE_INFO B ON A.IDX_FILE_INFO=B.IDX_FILE_INFO
    </select>


    <insert id="insertUserDemoBsFileJoin" parameterType="kr.or.fact.core.model.DTO.UserDemoBsFileVO">
        INSERT INTO TB_USER_DEMO_BS_FILE (
            IDX_USER_DEMO_BS_FILE_JOIN,
            IDX_USER_DEMO_BS,
            FILE_TYPE,
            FILE_VERION,
            IS_LAST,
            IDX_FILE_INFO,
            REG_DATE
        ) VALUES (
            SEQ_USER_DEMO_BS_FILE_JOIN.NEXTVAL,
            #{idx_user_demo_bs},
            #{file_type},
            #{file_verion},
            #{is_last},
            SEQ_FILE_INFO.CURRVAL,
            SYSDATE
                         )
    </insert>

    <update id="updateUserDemoBsFileJoin" parameterType="kr.or.fact.core.model.DTO.UserDemoBsFileVO">
        UPDATE TB_USER_DEMO_BS_FILE SET
            FILE_VERION = #{file_verion},
            IDX_FILE_INFO = SEQ_FILE_INFO.CURRVAL,
            REG_DATE = SYSDATE
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs} AND FILE_TYPE = #{file_type}
    </update>

    <resultMap id="UserDemoBsFileResultVO" type="kr.or.fact.core.model.DTO.UserDemoBsFileResultVO" >
        <result column="IDX_USER_DEMO_BS_FILE_JOIN" property="idx_user_demo_bs_file_join"/>
        <result column="IDX_USER_DEMO_BS" property="idx_user_demo_bs"/>
        <result column="FILE_TYPE" property="file_type"/>
        <result column="FILE_VERION" property="file_verion"/>
        <result column="IS_LAST" property="is_last"/>
        <result column="IDX_FILE_INFO" property="idx_file_info"/>
        <result column="REG_DATE" property="reg_date"/>
        <collection property="fileInfoVO" resultMap="FileInfoVO"/>
    </resultMap>

    <resultMap id="FileInfoVO" type="kr.or.fact.core.model.DTO.FileInfoVO">
        <result column="IDX_FILE_INFO" property="idx_file_info"/>
        <result column="FILE_NAME" property="file_name"/>
        <result column="FILE_TYPE" property="file_type"/>
        <result column="FILE_STATUS" property="file_status"/>
        <result column="MIME_TYPE" property="mime_type"/>
        <result column="ENCODING" property="encoding"/>
        <result column="EXTENTION" property="extention"/>
        <result column="FILE_SECURE_TYPE" property="file_secure_type"/>
        <result column="FILE_PATH" property="file_path"/>
        <result column="FILE_SIZE" property="file_size"/>
        <result column="CHECKSUM" property="checksum"/>
        <result column="OWNER" property="owner"/>
        <result column="IDX_USER" property="idx_user"/>
        <result column="IDX_ADMIN" property="idx_admin"/>
        <result column="REG_DATE" property="reg_date"/>
    </resultMap>

    <select id="getUserDemoBsFileJoin" resultMap="UserDemoBsFileResultVO">
        SELECT * FROM TB_USER_DEMO_BS_FILE
        LEFT JOIN TB_FILE_INFO ON TB_USER_DEMO_BS_FILE.IDX_FILE_INFO = TB_FILE_INFO.IDX_FILE_INFO
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </select>




    <insert id="insertFileInfo" parameterType="kr.or.fact.core.model.DTO.FileInfoVO" >
        INSERT INTO TB_FILE_INFO (
            IDX_FILE_INFO,
            FILE_NAME,
            FILE_TYPE,
            FILE_STATUS,
            MIME_TYPE,
            ENCODING,
            EXTENTION,
            FILE_SECURE_TYPE,
            FILE_PATH,
            FILE_SIZE,
            CHECKSUM,
            OWNER,
            IDX_USER,
            <if test="file_type == 70 or file_type == 3 or file_type == 4 or file_type == 5 or file_type == 7">
                IDX_FILE_USAGE,
            </if>
            IDX_ADMIN,
            REG_DATE
        ) VALUES (
                     SEQ_FILE_INFO.NEXTVAL,
                     #{file_name},
                     #{file_type},
                     #{file_status},
                     #{mime_type},
                     #{encoding},
                     #{extention},
                     #{file_secure_type},
                     #{file_path},
                     #{file_size},
                     #{checksum},
                     #{owner},
                     #{idx_user},
                    <if test="file_type == 70">
                        SEQ_DEMO_BUSINESS.CURRVAL,
                    </if>
                    <if test="file_type == 3">
                        SEQ_BS_ANNOUNCEMENT.CURRVAL,
                    </if>
                    <if test="file_type == 4">
                        SEQ_FORM_FILE_INFO.CURRVAL,
                    </if>
                    <if test="file_type == 5">
                        SEQ_RULE_FILE_INFO.CURRVAL,
                    </if>
        <if test="file_type == 7">
            #{idx_file_usage},
        </if>
                     #{idx_admin},
                     SYSDATE
                 )
    </insert>

    <select id="selectBsFile" resultType="kr.or.fact.core.model.DTO.FileInfoVO" >
        SELECT FILE_NAME,
               FILE_PATH
        FROM TB_FILE_INFO
        WHERE IDX_FILE_USAGE = #{idx_demo_bs}
        AND FILE_TYPE = 70
    </select>

    <select id="selectBsAnnouncementFile" resultType="kr.or.fact.core.model.DTO.FileInfoVO" >
        SELECT FILE_NAME,
               FILE_PATH
        FROM TB_FILE_INFO
        WHERE IDX_FILE_USAGE = #{index_bs_announcement}
          AND FILE_TYPE = 3
    </select>

    <delete id="deleteFormFile">
        DELETE FROM TB_FORM_FILE_INFO WHERE IDX_FORM_FILE_INFO = #{idx_form_file}
    </delete>

    <delete id="deleteRuleFile">
        DELETE FROM TB_RULE_FILE_INFO WHERE IDX_RULE_FILE_INFO = #{idx_rule_file}
    </delete>

    <select id="getFormFile" resultType="kr.or.fact.core.model.DTO.FormFileInfoVO">
        SELECT * FROM TB_FORM_FILE_INFO WHERE IDX_FORM_FILE_INFO = #{idx_form_file_info}
    </select>

    <select id="getRuleFile" resultType="kr.or.fact.core.model.DTO.RuleFileInfoVO">
        SELECT * FROM TB_RULE_FILE_INFO WHERE IDX_RULE_FILE_INFO = #{idx_rule_file_info}
    </select>

    <select id="getFileIdx" resultType="long">
        SELECT IDX_FILE_INFO FROM TB_FILE_INFO WHERE FILE_NAME = #{file_name}
    </select>

    <select id="getFileIdxToUser" resultType="long">
        SELECT IDX_FILE_INFO
        FROM ( SELECT IDX_FILE_INFO
               FROM TB_FILE_INFO
               WHERE FILE_NAME = #{file_name} AND IDX_USER = #{idx_user} AND FILE_TYPE = #{file_type}
               ORDER BY REG_DATE DESC)
        WHERE ROWNUM = 1
    </select>

    <select id="getFileListAsName" resultType="kr.or.fact.core.model.DTO.FileInfoVO">
        SELECT * FROM TB_FILE_INFO WHERE FILE_NAME = #{file_name} ORDER BY REG_DATE DESC
    </select>


    <update id="updateFormFile" parameterType="kr.or.fact.core.model.DTO.FormFileInfoVO">
        UPDATE TB_FORM_FILE_INFO SET
            SUBJECT=#{subject},
            USAGE_DETAIL=#{usage_detail},
            IDX_ADMIN=#{idx_admin},
            ORDER_NUM=#{order_num},
            REG_DATE=SYSDATE
        WHERE IDX_FORM_FILE_INFO = #{idx_form_file_info}
    </update>

    <update id="updateRuleFile" parameterType="kr.or.fact.core.model.DTO.RuleFileInfoVO">
        UPDATE TB_RULE_FILE_INFO SET
            SUBJECT=#{subject},
            USAGE_DETAIL=#{usage_detail},
            IDX_ADMIN=#{idx_admin},
            ORDER_NUM=#{order_num},
            REG_DATE=SYSDATE
        WHERE IDX_RULE_FILE_INFO = #{idx_rule_file_info}
    </update>

    <select id="getFileUrlByUsageIdxType" resultType="kr.or.fact.core.model.DTO.FileInfoVO">
        SELECT * FROM TB_FILE_INFO WHERE IDX_FILE_USAGE = #{idx_file_usage} AND FILE_TYPE = #{file_type}
    </select>
</mapper>