<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.FormFileMapper">

    <insert id="insertFormFile" parameterType="kr.or.fact.core.model.DTO.FormFileInfoVO">
        INSERT INTO TB_FORM_FILE_INFO( IDX_FORM_FILE_INFO,
                                       SUBJECT,
                                       USAGE_DETAIL,
                                       IDX_ADMIN,
                                       ORDER_NUM,
                                       IDX_FILE_INFO,
                                       REG_DATE
        VALUES (SEQ_FORM_FILE_INFO.NEXTVAL,
                #{subject},
                #{usage_detail},
                #{idx_admin},
                #{order_num},
                #{idx_file_info},
                SYSDATE
               )
    </insert>

</mapper>

