<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.MailMapper">
    <select id="getReservedMail" resultType="kr.or.fact.core.model.DTO.ReservedMailVO">
        SELECT * FROM (
            SELECT A.*, FLOOR((ROWNUM - 1)/10 + 1) PAGE, (
                SELECT MAX(FLOOR((ROWNUM - 1)/10 + 1)) FROM TB_MAIL_RESERVED
                WHERE IDX_MAIL_RESERVED >= #{tag} * 10 - 9) MAXVALUE FROM (
                    SELECT TB_MAIL_RESERVED.* FROM TB_MAIL_RESERVED
                    WHERE IDX_MAIL_RESERVED >= #{tag} * 10 - 9 ORDER BY IDX_MAIL_RESERVED ASC
                )
            A)
        WHERE PAGE = #{tag}
    </select>

    <insert id="insertPWEmail" parameterType="kr.or.fact.core.model.DTO.ReservedMailVO">
        insert into TB_MAIL_RESERVED (
            IDX_MAIL_RESERVED,
            RECEIVER,
            STATUS,
            SENDTIME,
            TITLE,
            CONTENT
        ) values (
            SEQ_MAIL_RESERVED.NEXTVAL,
            #{receiver},
            'send',
            TO_DATE(#{sendTime}, 'yyyy-MM-dd HH24:mi:ss'),
            #{title},
            #{content}
        )
    </insert>
</mapper>