<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.NoticeMapper">

    <select id="getMainNoticeCount" resultType="int">
        SELECT COUNT(*) FROM TB_NOTICE  WHERE IS_MAIN_PAGE=1
    </select>

    <select id="getWebpageNoticeCount" resultType="int">
        SELECT COUNT(*) FROM TB_NOTICE  WHERE IS_SHOW=1 AND NOTICE_STATUS=1
    </select>

    <select id="getNoticeWebList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.NoticeVO">
        SELECT
            IDX_NOTICE,
            NOTICE_CODE,
            NOTICE_NUM,
            SUBJECT,
            NOTICE_CONTENTS,
            IS_FILE,
            IS_NEW,
            IS_MAIN_PAGE,
            IS_IMPORTANT,
            IS_SHOW,
            VIEW_COUNT,
            NOTICE_STATUS,
            POSTING_START_DATE,
            POSTING_END_DATE,
            DOC_VERSION,
            MEMO,
            SEARCH_TAG,
            AUTHOR,
            IDX_ADMIN,
            CONFIRM_ADMIN_IDX,
            REG_DATE,
            LAST_UPD_DATE
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS row_num
        ,  IDX_NOTICE,
                        NOTICE_CODE,
                        NOTICE_NUM,
                        SUBJECT,
                        NOTICE_CONTENTS,
                        IS_FILE,
                        IS_NEW,
                        IS_MAIN_PAGE,
                        IS_IMPORTANT,
                        IS_SHOW,
                        VIEW_COUNT,
                        NOTICE_STATUS,
                        POSTING_START_DATE,
                        POSTING_END_DATE,
                        DOC_VERSION,
                        MEMO,
                        SEARCH_TAG,
                        AUTHOR,
                        IDX_ADMIN,
                        CONFIRM_ADMIN_IDX,
                        REG_DATE,
                        LAST_UPD_DATE
                 FROM (
                          SELECT * FROM TB_NOTICE  WHERE IS_SHOW=1 AND NOTICE_STATUS=1
                      )

                 WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
             )
        WHERE row_num <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>

<insert id="insertNotice" parameterType="kr.or.fact.core.model.DTO.NoticeVO">
    INSERT INTO TB_NOTICE(
IDX_NOTICE,
NOTICE_CODE,
NOTICE_NUM,
SUBJECT,
NOTICE_CONTENTS,
IS_FILE,
IS_NEW,
IS_MAIN_PAGE,
IS_IMPORTANT,
IS_SHOW,
VIEW_COUNT,
NOTICE_STATUS,
POSTING_START_DATE,
POSTING_END_DATE,
DOC_VERSION,
MEMO,
SEARCH_TAG,
AUTHOR,
IDX_ADMIN,
CONFIRM_ADMIN_IDX,
REG_DATE,
LAST_UPD_DATE
    )VALUES (
                    SEQ_NOTICE.NEXTVAL,
                #{notice_code},
                #{notice_num},
                #{subject},
                #{notice_contents},
                #{is_file},
                #{is_new},
                #{is_main_page},
                #{is_important},
                #{is_show},
                #{view_count},
                #{notice_status},
                #{posting_start_date},
                #{posting_end_date},
                #{doc_version},
                #{memo},
                #{search_tag},
                #{author},
                #{idx_admin},
                #{confirm_admin_idx},
                SYSDATE,
                #{last_upd_date}
                )
</insert>


    <select id="getNoticeByIdx" parameterType="long" resultType="kr.or.fact.core.model.DTO.NoticeVO">
        SELECT *
        FROM TB_NOTICE WHERE IDX_NOTICE = #{idx_notice}
    </select>
    <select id="getMainNoticeList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.NoticeVO">
        SELECT * FROM TB_NOTICE  WHERE  IS_MAIN_PAGE=1
    </select>
    <select id="getNoticeIsFile" resultType="kr.or.fact.core.model.DTO.NoticeFileJoinVO">

        SELECT A.IDX_NOTICE_FILE_JOIN,
               A.IDX_NOTICE,
               A.IDX_FILE_INFO,
               B.IDX_NOTICE,
               B.IS_FILE,
               B.IS_MAIN_PAGE,
               B.IS_IMPORTANT,
               B.NOTICE_CODE,
               B.NOTICE_NUM,
               B.SUBJECT,
               B.NOTICE_CONTENTS,
               B.IS_SHOW,
               B.VIEW_COUNT,
               B.NOTICE_STATUS,
               B.POSTING_START_DATE,
               B.POSTING_END_DATE,
               B.DOC_VERSION,
               B.MEMO,
               B.SEARCH_TAG,
               B.AUTHOR,
               B.IDX_ADMIN,
               B.CONFIRM_ADMIN_IDX,
               B.REG_DATE,
               B.LAST_UPD_DATE,
               C.FILE_PATH
        FROM TB_NOTICE_FILE_JOIN A JOIN TB_NOTICE B ON A.IDX_NOTICE= B.IDX_NOTICE
                                   JOIN TB_FILE_INFO C ON C.IDX_FILE_INFO= A.IDX_FILE_INFO WHERE B.IDX_NOTICE=#{idx_notice}

    </select>


    <delete id="deleteNotice" parameterType="int">
        DELETE FROM TB_NOTICE WHERE IDX_NOTICE = #{idx_notice}
    </delete>



    <insert id="insertNoticeFileJoin" parameterType="kr.or.fact.core.model.DTO.NoticeFileJoinVO">
        INSERT INTO TB_NOTICE_FILE_JOIN (
IDX_NOTICE_FILE_JOIN,
IDX_NOTICE,

IDX_FILE_INFO,

REG_DATE
        )VALUES (
                    SEQ_NOTICE_FILE_JOIN.NEXTVAL,
                    SEQ_NOTICE.CURRVAL,
                    SEQ_FILE_INFO.CURRVAL,

                    SYSDATE

                )
    </insert>

</mapper>