<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.PRContentsMapper">

    <select id="getMainPRContentCount" resultType="int">
        SELECT COUNT(*) FROM TB_PR_CONTENT  WHERE IS_MAIN_PAGE=1
    </select>
    <select id="getWebpagePRContentCount" resultType="int">
        SELECT COUNT(*) FROM TB_PR_CONTENT  WHERE IS_SHOW=1 AND PR_CONTENT_STATUS=1
    </select>

    <sql id="searchPromotionCondition">
        <if test='query != null and query != ""'>
            <choose>
                <when test='filter == null or filter == ""'>
                    AND SUBJECT LIKE '%' || #{query} || '%'
                </when>
                <when test='filter == "t"'>
                    AND SUBJECT LIKE '%' || #{query} || '%'
                </when>
                <when test='filter == "w"'>
                    AND AUTHOR LIKE '%' || #{query} || '%'
                </when>
                <when test='filter == "c"'>
                    AND PR_CONTENTS LIKE '%' || #{query} || '%'
                </when>
                <when test='filter == "tc"'>
                    AND (SUBJECT LIKE '%' || #{query} || '%' OR PR_CONTENTS LIKE '%' || #{query} || '%')
                </when>
                <otherwise>
                    AND SUBJECT LIKE '%' || #{query} || '%'
                </otherwise>
            </choose>
        </if>
    </sql>

<!--    fil1 value = 0,1-->
<!--    fil2 value = 일자 검색-->
    <sql id="searchFilter1">
        <if test="fil1 != null and fil1 != ''">
            AND IS_NEW = #{fil1}
        </if>
        <if test="fil2 != null and fil2 != ''">
        <choose>
            <when test='fil2 == "1"'>
                AND TRUNC(REG_DATE) = TRUNC(SYSDATE)
            </when>
            <when test='fil2 == "2"'>
                AND ((TRUNC(SYSDATE) - TRUNC(REG_DATE)) <![CDATA[<]]> 7
                    AND (TRUNC(SYSDATE) - TRUNC(REG_DATE)) <![CDATA[>=]]> 0)
            </when>
            <when test='fil2 == "3"'>
                AND ((TRUNC(SYSDATE) - TRUNC(REG_DATE)) <![CDATA[<]]> 31
                    AND (TRUNC(SYSDATE) - TRUNC(REG_DATE)) <![CDATA[>=]]> 0)
            </when>
            <when test='fil2 == "4"'>
                AND ((TRUNC(SYSDATE) - TRUNC(REG_DATE)) <![CDATA[<]]> 63
                    AND (TRUNC(SYSDATE) - TRUNC(REG_DATE)) <![CDATA[>=]]> 0)
            </when>
            <when test='fil2 == "5"'>
                AND ((TRUNC(SYSDATE) - TRUNC(REG_DATE)) <![CDATA[<]]> 186
                    AND (TRUNC(SYSDATE) - TRUNC(REG_DATE)) <![CDATA[>=]]> 0)
            </when>
            <when test='fil2 == "6"'>
                AND ((TRUNC(SYSDATE) - TRUNC(REG_DATE)) <![CDATA[<]]> 365
                    AND (TRUNC(SYSDATE) - TRUNC(REG_DATE)) <![CDATA[>=]]> 0)
            </when>
            <otherwise>
                AND 1=1
            </otherwise>
        </choose>
        </if>
    </sql>

    <select id="getOpenPRContentCount" resultType="int">
        SELECT COUNT(*)
        FROM TB_PR_CONTENT
        WHERE IS_SHOW=1
            AND SHOW_START_DATE <![CDATA[<=]]> SYSDATE AND SHOW_END_DATE <![CDATA[>=]]> SYSDATE
            <include refid="searchPromotionCondition"></include>
    </select>

    <select id="getOpenPRContentList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT
            *
        FROM (
            SELECT
                ROW_NUMBER() OVER(ORDER by PR_CONTENT_NUM DESC) AS row_num
                ,IDX_PR_CONTENT
                ,PR_CONTENT_NUM
                ,SUBJECT
                ,IS_FILE
                ,IS_NEW
                ,AUTHOR
                ,SHOW_START_DATE
                ,VIEW_COUNT
            FROM TB_PR_CONTENT
            WHERE IS_SHOW=1
                AND SHOW_START_DATE <![CDATA[<=]]> SYSDATE AND SHOW_END_DATE <![CDATA[>=]]> SYSDATE
                <include refid="searchPromotionCondition"></include>
        )
        WHERE row_num BETWEEN #{count} * (#{page} - 1) + 1 AND #{count} * #{page}
    </select>

    <select id="getPRContentCount" resultType="int">
        SELECT COUNT(*) FROM TB_PR_CONTENT  WHERE IS_SHOW=1
    </select>

    <select id="getPRContentCount2" resultType="int">
        SELECT COUNT(*) FROM TB_PR_CONTENT  WHERE IS_SHOW=1
        <include refid="searchFilter1"></include>
    </select>

    <select id="getPRContentList" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT
            idx_row_num,
            IDX_PR_CONTENT
             ,PR_CONTENT_NUM
             ,SUBJECT
             ,IS_FILE
             ,IS_NEW
             ,IS_MAIN_PAGE
             ,AUTHOR
             ,SHOW_START_DATE
             ,VIEW_COUNT
        FROM (
             SELECT * FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by IDX_PR_CONTENT DESC) AS idx_row_num
                    ,IDX_PR_CONTENT
                    ,PR_CONTENT_NUM
                    ,SUBJECT
                    ,IS_FILE
                    ,IS_NEW
                    ,IS_MAIN_PAGE
                    ,AUTHOR
                    ,SHOW_START_DATE
                    ,VIEW_COUNT
                    ,REG_DATE
                 FROM (
                      SELECT * FROM TB_PR_CONTENT WHERE IS_SHOW=1
                        <include refid="searchFilter1"></include>
                        ORDER BY PR_CONTENT_NUM DESC, IDX_PR_CONTENT DESC
                    )
            )
            WHERE idx_row_num <![CDATA[<=]]> #{page_num}*#{amount}
        )
        WHERE idx_row_num <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>

    <insert id="insertPRContent" parameterType="kr.or.fact.core.model.DTO.PRContentVO">
        INSERT INTO TB_PR_CONTENT(
            IDX_PR_CONTENT,
            PR_CONTENT_CODE,
            PR_CONTENT_NUM,
            SUBJECT,
            PR_CONTENTS,
            IS_FILE,
            IS_NEW,
            IS_MAIN_PAGE,
            IS_IMPORTANT,
            IS_SHOW,
            VIEW_COUNT,
            PR_CONTENT_STATUS,
            SHOW_START_DATE,
            SHOW_END_DATE,
            DOC_VERSION,
            MEMO,
            SEARCH_TAG,
            AUTHOR,
            THUMB_IMG_FILE_IDX,
            IDX_ADMIN,
            CONFIRM_ADMIN_IDX,
            REG_DATE,
            LAST_UPD_DATE
        )VALUES (
            SEQ_PR_CONTENT.NEXTVAL,
            #{pr_content_code},
            #{pr_content_num},
            #{subject},
            #{pr_contents},
            #{is_file},
            #{is_new},
            #{is_main_page},
            #{is_important},
            #{is_show},
            #{view_count},
            #{pr_content_status},
            #{show_start_date},
            #{show_end_date},
            #{doc_version},
            #{memo},
            #{search_tag},
            #{author},
            SEQ_FILE_INFO.CURRVAL,
            #{idx_admin},
            #{confirm_admin_idx},
            SYSDATE,
            #{last_upd_date}
        )
    </insert>

    <select id="getThumb" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT IDX_PR_CONTENT, FILE_PATH FROM TB_FILE_INFO JOIN TB_PR_CONTENT ON TB_PR_CONTENT.THUMB_IMG_FILE_IDX=TB_FILE_INFO.IDX_FILE_INFO
    </select>

    <select id="getThumbFile" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT * FROM TB_FILE_INFO JOIN TB_PR_CONTENT ON TB_PR_CONTENT.THUMB_IMG_FILE_IDX=TB_FILE_INFO.IDX_FILE_INFO WHERE TB_PR_CONTENT.IDX_PR_CONTENT=#{idx_pr_content}
    </select>

    <select id="getMainPRContent" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT * FROM TB_PR_CONTENT WHERE IS_MAIN_PAGE=1 AND IDX_PR_CONTENT = #{idx}
    </select>

    <select id="getMainPRContentList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT * FROM TB_PR_CONTENT WHERE IS_MAIN_PAGE=1
    </select>

    <select id="getPRContent" parameterType="Long" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT * FROM TB_PR_CONTENT  WHERE IDX_PR_CONTENT = #{idx}
    </select>

    <delete id="deletePR" parameterType="long">
        DELETE FROM TB_PR_CONTENT WHERE  IDX_PR_CONTENT = #{idx_pr_content}
    </delete>

    <insert id="insertPRContentFileJoin" parameterType="kr.or.fact.core.model.DTO.PRContentFileJoinVO">
        INSERT INTO TB_PR_CONTENT_FILE_JOIN (
            IDX_PR_CONTENT_FILE_JOIN,
            IDX_PR_CONTENT,
            IDX_FILE_INFO,
            REG_DATE
        )VALUES (
            SEQ_PR_CONTENT_FILE_JOIN.NEXTVAL,
            SEQ_PR_CONTENT.CURRVAL,
            SEQ_FILE_INFO.CURRVAL-1,
            SYSDATE
        )
    </insert>

    <resultMap id="promotionDetailMap" type="kr.or.fact.core.model.DTO.PRContentVO">
        <id property="idx_pr_content" column="IDX_PR_CONTENT" />
        <result property="pr_content_code" column="PR_CONTENT_CODE" />
        <result property="pr_content_num" column="PR_CONTENT_NUM" />
        <result property="subject" column="SUBJECT" />
        <result property="pr_contents" column="PR_CONTENTS" />
        <result property="is_file" column="IS_FILE" />
        <result property="is_new" column="IS_NEW" />
        <result property="is_main_page" column="IS_MAIN_PAGE" />
        <result property="is_important" column="IS_IMPORTANT" />
        <result property="is_show" column="IS_SHOW" />
        <result property="view_count" column="VIEW_COUNT" />
        <result property="pr_content_status" column="PR_CONTENT_STATUS" />
        <result property="show_start_date" column="SHOW_START_DATE" />
        <result property="show_end_date" column="SHOW_END_DATE" />
        <result property="doc_version" column="DOC_VERSION" />
        <result property="memo" column="MEMO" />
        <result property="search_tag" column="SEARCH_TAG" />
        <result property="author" column="AUTHOR" />
        <result property="thumb_img_file_idx" column="THUMB_IMG_FILE_IDX" />
        <result property="idx_admin" column="IDX_ADMIN" />
        <result property="confirm_admin_idx" column="CONFIRM_ADMIN_IDX" />
        <result property="reg_date" column="REG_DATE" />
        <result property="last_upd_date" column="LAST_UPD_DATE" />
        <collection property="attachments" resultMap="Attachments"/>
    </resultMap>

    <resultMap id="Attachments" type="kr.or.fact.core.model.DTO.FileInfoVO">
        <id column="IDX_FILE_INFO" property="idx_file_info"/>
        <result column="FILE_NAME" property="file_name"/>
        <result column="FILE_TYPE" property="file_type"/>
        <result column="FILE_STATUS" property="file_status"/>
        <result column="MIME_TYPE" property="mime_type"/>
        <result column="ENCODING" property="encoding"/>
        <result column="EXTENTION" property="extention"/>
        <result column="FILE_SECURE_TYPE" property="file_secure_type"/>
        <result column="FILE_PATH" property="file_path"/>
        <result column="FILE_SIZE" property="file_size"/>
        <result column="CHECKSUM" property="checksum"/>
        <result column="OWNER" property="owner"/>
        <result column="IDX_USER" property="idx_user"/>
        <result column="IDX_ADMIN" property="idx_admin"/>
        <result column="REG_DATE" property="reg_date"/>
    </resultMap>

    <select id="getPRContentFileJoin" resultMap="promotionDetailMap">
        SELECT A.IDX_PR_CONTENT,
             A.PR_CONTENT_CODE,
             A.PR_CONTENT_NUM,
             A.SUBJECT,
             A.PR_CONTENTS,
             A.IS_FILE,
             A.IS_NEW,
             A.IS_MAIN_PAGE,
             A.IS_IMPORTANT,
             A.IS_SHOW,
             A.VIEW_COUNT,
             A.PR_CONTENT_STATUS,
             A.SHOW_START_DATE,
             A.SHOW_END_DATE,
             A.DOC_VERSION,
             A.MEMO,
             A.SEARCH_TAG,
             A.AUTHOR,
             A.THUMB_IMG_FILE_IDX,
             A.IDX_ADMIN,
             A.CONFIRM_ADMIN_IDX,
             A.REG_DATE,
             A.LAST_UPD_DATE,
             C.IDX_FILE_INFO,
             C.FILE_NAME,
             C.MIME_TYPE,
             C.FILE_PATH,
             C.FILE_SIZE
      FROM TB_PR_CONTENT A
               JOIN TB_PR_CONTENT_FILE_JOIN B ON A.IDX_PR_CONTENT = B.IDX_PR_CONTENT
               JOIN TB_FILE_INFO C ON B.IDX_FILE_INFO = C.IDX_FILE_INFO
      WHERE A.IDX_PR_CONTENT = #{idx_pr_content}
    </select>

    <select id="getPrViewCount" parameterType="long" resultType="int">
        SELECT VIEW_COUNT FROM TB_PR_CONTENT WHERE IDX_PR_CONTENT=#{idx_pr_content}
    </select>

    <update id="updatePrViewCount" parameterType="kr.or.fact.core.model.DTO.PRContentVO">
        UPDATE TB_PR_CONTENT SET VIEW_COUNT = VIEW_COUNT + 1 WHERE IDX_PR_CONTENT =#{idx_pr_content}
    </update>

    <update id="updatePrContent" parameterType="kr.or.fact.core.model.DTO.PRContentVO">
        UPDATE TB_PR_CONTENT SET
        <if test="pr_content_code != null">
             PR_CONTENT_CODE=#{pr_content_code},
        </if>
        <if test="pr_content_num != null">
             PR_CONTENT_NUM=#{pr_content_num},
        </if>
             SUBJECT=#{subject},
             PR_CONTENTS=#{pr_contents},
             IS_FILE=#{is_file},
             IS_NEW=#{is_new},
             IS_MAIN_PAGE=#{is_main_page},
        <if test="is_important != null">
             IS_IMPORTANT=#{is_important},
        </if>
         <if test="is_show != null">
             IS_SHOW=#{is_show},
         </if>
        <if test="view_count != null">
             VIEW_COUNT=#{view_count},
        </if>
        <if test="pr_content_status != null">
             PR_CONTENT_STATUS=#{pr_content_status},
        </if>
        <if test="show_start_date != null">
             SHOW_START_DATE=#{show_start_date},
        </if>
        <if test="show_end_date != null">
             SHOW_END_DATE=#{show_end_date},
        </if>
        <if test="doc_version != null">
             DOC_VERSION=#{doc_version},
        </if>
        <if test="memo != null">
             MEMO=#{memo},
        </if>
        <if test="search_tag != null">
             SEARCH_TAG=#{search_tag},
        </if>
        <if test="author != null">
             AUTHOR=#{author},
        </if>
        <if test="author != null">
             THUMB_IMG_FILE_IDX=#{thumb_img_file_idx},
        </if>
        <if test="idx_admin != null">
             IDX_ADMIN=#{idx_admin},
        </if>
             LAST_UPD_DATE=SYSDATE
        WHERE IDX_PR_CONTENT = #{idx_pr_content}
    </update>

    <select id="getPRContentFile" resultType="kr.or.fact.core.model.DTO.PRContentFileJoinVO">
        SELECT IDX_PR_CONTENT_FILE_JOIN, IDX_FILE_INFO FROM TB_PR_CONTENT_FILE_JOIN WHERE IDX_PR_CONTENT=#{idx_pr_content}
    </select>

    <select id="getPRContentThumbFile" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT THUMB_IMG_FILE_IDX FROM TB_PR_CONTENT WHERE IDX_PR_CONTENT=#{idx_pr_content}
    </select>

    <update id="updatePRContentFileJoin" parameterType="kr.or.fact.core.model.DTO.PRContentFileJoinVO">
        UPDATE TB_PR_CONTENT_FILE_JOIN
            SET
                IDX_PR_CONTENT=#{idx_pr_content},
                IDX_FILE_INFO=#{idx_file_info},
                REG_DATE=SYSDATE
            WHERE IDX_PR_CONTENT_FILE_JOIN=#{idx_pr_content_file_join}
    </update>
</mapper>