<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.PRContentsMapper">

    <select id="getMainPRContentCount" resultType="int">
        SELECT COUNT(*) FROM TB_PR_CONTENT  WHERE IS_MAIN_PAGE=1
    </select>
    <select id="getWebpagePRContentCount" resultType="int">
        SELECT COUNT(*) FROM TB_PR_CONTENT  WHERE IS_SHOW=1 AND PR_CONTENT_STATUS=1
    </select>

    <sql id="searchPromotionCondition">
        <if test='query != null and query != ""'>
            <choose>
                <when test='filter == null or filter == ""'>
                    AND SUBJECT LIKE '%' || #{query} || '%'
                </when>
                <when test='filter == "t"'>
                    AND SUBJECT LIKE '%' || #{query} || '%'
                </when>
                <when test='filter == "w"'>
                    AND AUTHOR LIKE '%' || #{query} || '%'
                </when>
                <when test='filter == "c"'>
                    AND PR_CONTENTS LIKE '%' || #{query} || '%'
                </when>
                <when test='filter == "tc"'>
                    AND (SUBJECT LIKE '%' || #{query} || '%' OR PR_CONTENTS LIKE '%' || #{query} || '%')
                </when>
                <otherwise>
                    AND SUBJECT LIKE '%' || #{query} || '%'
                </otherwise>
            </choose>
        </if>
    </sql>
    <select id="getOpenPRContentCount" resultType="int">
        SELECT COUNT(*)
        FROM TB_PR_CONTENT
        WHERE IS_SHOW=1
            AND PR_CONTENT_STATUS=1
            <include refid="searchPromotionCondition"></include>
    </select>
    <select id="getOpenPRContentList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT
            *
        FROM (
            SELECT
                ROW_NUMBER() OVER(ORDER by PR_CONTENT_NUM DESC) AS row_num
                ,IDX_PR_CONTENT
                ,PR_CONTENT_NUM
                ,SUBJECT
                ,IS_FILE
                ,IS_NEW
                ,AUTHOR
                ,SHOW_START_DATE
                ,VIEW_COUNT
            FROM TB_PR_CONTENT
            WHERE IS_SHOW=1
                AND PR_CONTENT_STATUS=1
                <include refid="searchPromotionCondition"></include>
        )
        WHERE row_num BETWEEN #{count} * (#{page} - 1) + 1 AND #{count} * #{page}
    </select>

    <select id="getPRContentList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT
            IDX_PR_CONTENT
             ,PR_CONTENT_NUM
             ,SUBJECT
             ,IS_FILE
             ,IS_NEW
             ,AUTHOR
             ,SHOW_START_DATE
             ,VIEW_COUNT
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by #{order_field}  DESC) AS row_num
        ,IDX_PR_CONTENT
                      ,PR_CONTENT_NUM
                      ,SUBJECT
                      ,IS_FILE
                      ,IS_NEW
                      ,AUTHOR
                      ,SHOW_START_DATE
                      ,VIEW_COUNT
                 FROM (
                          SELECT * FROM TB_PR_CONTENT WHERE IS_SHOW=1 AND PR_CONTENT_STATUS=1 ORDER by PR_CONTENT_NUM ASC
                      )

                 WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
             )
        WHERE row_num <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>
<insert id="insertPRContent" parameterType="kr.or.fact.core.model.DTO.PRContentVO">
    INSERT INTO TB_PR_CONTENT(
        IDX_PR_CONTENT,
            PR_CONTENT_CODE,
PR_CONTENT_NUM,
SUBJECT,
PR_CONTENTS,
IS_FILE,
IS_NEW,
IS_MAIN_PAGE,
IS_IMPORTANT,
IS_SHOW,
VIEW_COUNT,
PR_CONTENT_STATUS,
SHOW_START_DATE,
SHOW_END_DATE,
DOC_VERSION,
MEMO,
SEARCH_TAG,
AUTHOR,
THUMB_IMG_FILE_IDX,
IDX_ADMIN,
CONFIRM_ADMIN_IDX,
REG_DATE,
LAST_UPD_DATE

    )VALUES (
                    SEQ_PR_CONTENT.NEXTVAL,
                    #{pr_content_code},
                    #{pr_content_num},
                    #{subject},
                    #{pr_contents},
                    #{is_file},
                    #{is_new},
                    #{is_main_page},
                    #{is_important},
                    #{is_show},
                    #{view_count},
                    #{pr_content_status},
                    #{show_start_date},
                    #{show_end_date},
                    #{doc_version},
                    #{memo},
                    #{search_tag},
                    #{author},
                    SEQ_FILE_INFO.CURRVAL,
                    #{idx_admin},
                    #{confirm_admin_idx},
                    SYSDATE,
                    #{last_upd_date}

                )
</insert>

<select id="getThumb" resultType="kr.or.fact.core.model.DTO.PRContentVO">
    SELECT IDX_PR_CONTENT, FILE_PATH FROM TB_FILE_INFO JOIN TB_PR_CONTENT ON THUMB_IMG_FILE_IDX=IDX_FILE_INFO
</select>


    <select id="getMainPRContentList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT * FROM TB_PR_CONTENT  WHERE  IS_MAIN_PAGE=1
    </select>

    <select id="getPRContent" parameterType="Long" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT * FROM TB_PR_CONTENT  WHERE IDX_PR_CONTENT = #{idx}
    </select>

    <delete id="deletePR" parameterType="int">
        DELETE FROM TB_PR_CONTENT WHERE  IDX_PR_CONTENT = #{idx_pr_content}
    </delete>

    <insert id="insertPRContentFileJoin" parameterType="kr.or.fact.core.model.DTO.PRContentFileJoinVO">
        INSERT INTO TB_PR_CONTENT_FILE_JOIN (
            IDX_PR_CONTENT_FILE_JOIN,
            IDX_PR_CONTENT,
            IDX_FILE_INFO,
            REG_DATE
        )VALUES (
                    SEQ_PR_CONTENT_FILE_JOIN.NEXTVAL,
                    SEQ_PR_CONTENT.CURRVAL,
                    SEQ_FILE_INFO.CURRVAL-1,

                    SYSDATE

                )
    </insert>
    <select id="getPRContentFileJoin" resultType="kr.or.fact.core.model.DTO.PRContentVO">
        SELECT     A.IDX_PR_CONTENT,
                   A.PR_CONTENT_CODE,
                   A.PR_CONTENT_NUM,
                   A.SUBJECT,
                   A.PR_CONTENTS,
                   A.IS_FILE,
                   A.IS_NEW,
                   A.IS_MAIN_PAGE,
                   A.IS_IMPORTANT,
                   A.IS_SHOW,
                   A.VIEW_COUNT,
                   A.PR_CONTENT_STATUS,
                   A.SHOW_START_DATE,
                   A.SHOW_END_DATE,
                   A.DOC_VERSION,
                   A.MEMO,
                   A.SEARCH_TAG,
                   A.AUTHOR,
                   A.THUMB_IMG_FILE_IDX,
                   A.IDX_ADMIN,
                   A.CONFIRM_ADMIN_IDX,
                   A.REG_DATE,
                   A.LAST_UPD_DATE,
                   B.IDX_PR_CONTENT,
                   B.IDX_FILE_INFO,
                   C.FILE_PATH
        FROM TB_PR_CONTENT A JOIN TB_PR_CONTENT_FILE_JOIN B ON A.IDX_PR_CONTENT=B.IDX_PR_CONTENT
                             JOIN TB_FILE_INFO C ON B.IDX_FILE_INFO=C.IDX_FILE_INFO WHERE A.IDX_PR_CONTENT=#{idx_pr_content}
    </select>
    <select id="getPrViewCount" parameterType="long" resultType="int">
        SELECT VIEW_COUNT FROM TB_PR_CONTENT WHERE IDX_PR_CONTENT=#{idx_pr_content}
    </select>
    <update id="updatePrViewCount" parameterType="kr.or.fact.core.model.DTO.PRContentVO">
        UPDATE TB_PR_CONTENT SET VIEW_COUNT = #{view_count} WHERE IDX_PR_CONTENT =#{idx_pr_content}
    </update>
    <update id="updatePrContent" parameterType="kr.or.fact.core.model.DTO.PRContentVO">
        UPDATE TB_PR_CONTENT SET

                                 PR_CONTENT_CODE=#{pr_content_code},
                                 PR_CONTENT_NUM=#{pr_content_num},
                                 SUBJECT=#{subject},
                                 PR_CONTENTS=#{pr_contents},
                                 IS_FILE=#{is_file},
                                 IS_NEW=#{is_new},
                                 IS_MAIN_PAGE=#{is_main_page},
                                 IS_IMPORTANT=#{is_important},
                                 IS_SHOW=#{is_show},
                                 VIEW_COUNT=#{view_count},
                                 PR_CONTENT_STATUS=#{pr_content_status},
                                 SHOW_START_DATE=#{show_start_date},
                                 SHOW_END_DATE=#{show_end_date},
                                 DOC_VERSION=#{doc_version},
                                 MEMO=#{memo},
                                 SEARCH_TAG=#{search_tag},
                                 AUTHOR=#{author},
                                 THUMB_IMG_FILE_IDX=#{thumb_img_file_idx},
                                 IDX_ADMIN=#{idx_admin},
                                 CONFIRM_ADMIN_IDX=#{confirm_admin_idx},
                                 REG_DATE=#{reg_date},
                                 LAST_UPD_DATE=SYSDATE WHERE IDX_PR_CONTENT =#{idx_pr_content}
    </update>
    <update id="updatePRContentFileJoin" parameterType="kr.or.fact.core.model.DTO.PRContentFileJoinVO">
UPDATE TB_PR_CONTENT_FILE_JOIN SET
IDX_PR_CONTENT_FILE_JOIN=#{IDX_PR_CONTENT_FILE_JOIN},
IDX_PR_CONTENT=#{IDX_PR_CONTENT},
IDX_FILE_INFO=#{IDX_FILE_INFO},
REG_DATE=SYSDATE
    </update>
</mapper>