<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.SmsSendMapper">
    <insert id="insertSmsMessage" parameterType="kr.or.fact.core.model.DTO.SmsSendVO">
        INSERT INTO SDK_SMS_SEND(
            MSG_ID,
            USER_ID,
            SCHEDULE_TYPE,
            SUBJECT,
            SMS_MSG,
            NOW_DATE,
            SEND_DATE,
            CALLBACK,
            DEST_INFO
        ) VALUES(
                SDK_SMS_SEQ.NEXTVAL,
                'test',
                 0,
                #{subject},
                #{sms_msg},
                #{now_date},
                #{send_date},
                #{callback},
                #{dest_info}
   )
    </insert>
    <select id="selectSentmeesage1" resultType="kr.or.fact.core.model.DTO.SmsSentVO">
                SELECT
                  ROW_NUMBER() OVER(ORDER by SEND_DATE DESC) AS ROW_NUM,
                  MSG_ID,
                  SCHEDULE_TYPE,
                  SUBJECT,
                  SEND_DATE,
                  CALLBACK,
                  DEST_COUNT,
                  DEST_INFO,
                  SMS_MSG
                FROM SDK_SMS_REPORT
            WHERE ROW_NUM <![CDATA[<=]]> #{page_num}*#{amount}
    </select>
    <select id="selectReserveMessage" resultType="kr.or.fact.core.model.DTO.SmsSendVO">
        SELECT * FROM SDK_SMS_SEND ORDER BY msg_id DESC
    </select>
</mapper>