<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.SystemMapper">
    <select id="getSystemCodeList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.SystemCodeVO">
        SELECT * FROM (
                          SELECT
                            ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS ROW_NUM,
                            IDX_SYSTEM_CODE,
                            CODE_NAME,
                              CODE_VALUE,
                              DETAIL,
                              ORDER_NUM,
                              REG_DATE
                          FROM (
                                   SELECT *
                                   FROM TB_SYSTEM_CODE
                               )
                          WHERE ROWNUM <![CDATA[<=]]> #{page_num}*#{amount}
                          ORDER BY IDX_SYSTEM_CODE desc
                      )
        WHERE ROW_NUM <![CDATA[>]]> (#{page_num} -1)*#{amount}
    </select>

    <select id="getAllSystemCodeList" resultType="kr.or.fact.core.model.DTO.SystemCodeVO">
        SELECT * FROM TB_SYSTEM_CODE
    </select>

    <insert id="insertSystemCode" parameterType="kr.or.fact.core.model.DTO.SystemCodeVO">
        INSERT INTO TB_SYSTEM_CODE (
            IDX_SYSTEM_CODE,
            CODE_NAME,
            CODE_VALUE,
            DETAIL,
            ORDER_NUM,
            REG_DATE
        ) VALUES (
                     SEQ_SYSTEM_CODE.NEXTVAL,
                     #{code_name},
                     #{code_value},
                     #{detail},
                     #{order_num},
                     SYSDATE
                 )
    </insert>

    <select id="getSystemCode" parameterType="long" resultType="kr.or.fact.core.model.DTO.SystemCodeVO">
        SELECT
            IDX_SYSTEM_CODE,
            CODE_NAME,
            CODE_VALUE,
            DETAIL,
            ORDER_NUM,
            REG_DATE
        FROM TB_SYSTEM_CODE
            WHERE IDX_SYSTEM_CODE=#{idx_system_code}
    </select>

    <select id="getSystemTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM TB_SYSTEM_CODE
    </select>

    <update id="updateSystemCode" parameterType="kr.or.fact.core.model.DTO.SystemCodeVO">
        UPDATE TB_SYSTEM_CODE SET CODE_NAME = #{code_name},
                                  CODE_VALUE = #{code_value},
                                  DETAIL = #{detail},
                                  ORDER_NUM = #{order_num}
                    WHERE IDX_SYSTEM_CODE=#{idx_system_code}
    </update>

    <delete id="deleteSystemCode" parameterType="long" >
        DELETE FROM TB_SYSTEM_CODE WHERE IDX_SYSTEM_CODE=#{idx_system_code}
    </delete>

</mapper>
