<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.UserDemoBsMapper">
    <select id="getUserDemoBsFromJoin" parameterType="long" resultType="kr.or.fact.core.model.DTO.ApplicantDemoBsJoinVO">
        SELECT * FROM  TB_APPLICANT_DEMO_BS_JOIN WHERE IDX_USER=#{idx_user};
    </select>
    <select id="getUserDemoBsListByUserIdx" parameterType="long" resultType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        SELECT
            (SELECT DEMO_SUBJECT FROM TB_DEMO_BUSINESS WHERE IDX_DEMO_BUSINESS = TB_USER_DEMO_BS.IDX_DEMO_BUSINESS ) AS DEMO_SUBJECT
             ,TB_USER_DEMO_BS.*
        FROM TB_USER_DEMO_BS
        WHERE IDX_USER = #{idx_user}
        ORDER BY IDX_DEMO_BUSINESS DESC
    </select>

<!--    SELECT-->
<!--    (SELECT DEMO_SUBJECT FROM TB_DEMO_BUSINESS WHERE IDX_DEMO_BUSINESS = TB_USER_DEMO_BS.IDX_DEMO_BUSINESS ) AS DEMO_BS_SUBJECT-->
<!--    ,TB_USER_DEMO_BS.*-->
<!--    FROM TB_USER_DEMO_BS-->
<!--    WHERE IDX_USER_DEMO_BS IN (-->
<!--    SELECT IDX_USER_DEMO_BS FROM TB_APPLICANT_DEMO_BS_JOIN WHERE IDX_USER=#{idx_user}-->
<!--    ) ORDER BY IDX_DEMO_BUSINESS DESC-->



    <select id="getDemoBsMsgByUserDemoBSIdx" parameterType="long" resultType="kr.or.fact.core.model.DTO.DemoBsMsgVO">
        SELECT
            *
        FROM TB_DEMO_BS_MSG
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </select>


    <select id="getUserDemoBs" parameterType="kr.or.fact.core.model.DTO.UserDemoBsCheckVO" resultType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        SELECT
            *
        FROM TB_USER_DEMO_BS
        WHERE IDX_DEMO_BUSINESS = #{idx_demo_business} AND IDX_USER=#{idx_user}
    </select>

    <select id="getUserDemoBsByIdx" parameterType="long" resultType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        SELECT
            *
        FROM TB_USER_DEMO_BS
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </select>






    <insert id="saveUserDemoBs" parameterType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        INSERT INTO TB_USER_DEMO_BS (
            IDX_USER_DEMO_BS,
            IDX_DEMO_BUSINESS,
            USER_DEMOBS_STATUS,
            IDX_USER,
            USER_DEMO_BS_APP_CODE,
            USER_DEMO_BS_TYPE,
            IDX_CORP_INFO,
            CORP_NAME,
            CORP_BIRTH,
            CORP_NUM,
            CORP_REG_NUM,

            CORP_ADDR,
            CORP_ADDR2,
            CORP_RND_ADDR,
            CORP_RND_ADDR2,
            CORP_PHONE,
            LAB_PHONE,
            EMAIL,
            HOMEPAGE,
            CAPITAL_AMOUNT,
            CORP_SALES_AMOUNT,
            CORP_ER,
            EMPLOYEES_COUNT,
            BS_TYPE1,
            BS_TYPE2,
            MAIN_PRODUCT,
            DEMOBS_TECH_PLAN,
            CEO_NAME,
            CEO_MNUMBER,
            CEO_PNUMBER,
            CEO_EMAIL,
            CEO_ADDRESS,
            MAN_NAME,
            MAN_MNUMBER,
            MAN_PNUMBER,
            MAN_EMAIL,
            USER_DEMO_TYPE,
            USER_DEMO_FACILITY,
            USER_DEMO_WAY,
            USER_DEMO_REPEAT,
            USER_DEMO_REPEAT_COUNT,
            USER_DEMO_GOAL,
            USER_DEMO_OPTION,
            USER_DEMO_IS_CROPS,
            USER_DEMO_CROPS,
            CULTURE_SOIL,
            DEMO_TYPE,
            DEMO_START_DATE,
            DEMO_END_DATE,
            RESIDENT_TYPE,
            RESIDENT_ETC,
            STAFF_NUM,
            IS_CHANGE,
            IS_CONFIRM,
            IS_SHARE,
            COSTAT_CODE,
            IS_OFFICE_OWER,
            IS_LAB_OWER,
            MAN_TOTAL,
            MAN_OFFICER_COUNT,
            MAN_LAB_COUNT,
            MAN_ETC_COUNT,

            LAB_EST_DATE,
            RND_RATE,
            CONSOLIDATED_COMPANY,


            HISTORY1,
            HISTORY1_DATE,
            HISTORY2,
            HISTORY2_DATE,
            HISTORY3,
            HISTORY3_DATE,
            PRIZE1,
            PRIZE1_DATE,
            PRIZE1_ORG,
            PRIZE1_ETC,
            PRIZE2,
            PRIZE2_DATE,
            PRIZE2_ORG,
            PRIZE2_ETC,
            PRIZE3,
            PRIZE3_DATE,
            PRIZE3_ORG,
            PRIZE3_ETC,
            REG_DATE,
            LAST_UPD_DATE
        ) VALUES (
                      SEQ_USER_DEMO_BS.NEXTVAL,
                     #{idx_demo_business},
                     #{user_demobs_status},
                     #{idx_user},
                      CONCAT('APP', CONCAT(#{idx_demo_business}, SEQ_USER_DEMO_BS.NEXTVAL)),
                     #{user_demo_bs_type},
                     #{idx_corp_info},
                     #{corp_name},
                     #{corp_birth},
                     #{corp_num},
                     #{corp_reg_num},

                     #{corp_addr},
                      #{corp_addr2},

                     #{corp_rnd_addr},
                      #{corp_rnd_addr2},

                      #{corp_phone},
                      #{lab_phone},
                      #{email},
                      #{homepage},
                     #{capital_amount},
                     #{corp_sales_amount},
                     #{corp_er},
                     #{employees_count},
                     #{bs_type1},
                     #{bs_type2},
                     #{main_product},
                     #{demobs_tech_plan},
                     #{ceo_name},
                     #{ceo_mnumber},
                     #{ceo_pnumber},
                     #{ceo_email},
                     #{ceo_address},
                     #{man_name},
                     #{man_mnumber},
                     #{man_pnumber},
                     #{man_email},
                     #{user_demo_type},
                     #{user_demo_facility},
                     #{user_demo_way},
                     #{user_demo_repeat},
                     #{user_demo_repeat_count},

                     #{user_demo_goal},
                     #{user_demo_option},
                     #{user_demo_is_crops},
                     #{user_demo_crops},
                     #{culture_soil},
                     #{demo_type},
                     #{demo_start_date},
                     #{demo_end_date},
                     #{resident_type},
                     #{resident_etc},
                     #{staff_num},
                     #{is_change},
                     #{is_confirm},
                     #{is_share},
                     #{costat_code},
                     #{is_office_ower},
                     #{is_lab_ower},
                     #{man_total},
                     #{man_officer_count},
                     #{man_lab_count},
                     #{man_etc_count},

                      #{lab_est_date},
                      #{rnd_rate},
                      #{consolidated_company},


                      #{history1},
                      #{history1_date},
                      #{history2},
                      #{history2_date},
                      #{history3},
                      #{history3_date},
                      #{prize1},
                      #{prize1_date},
                      #{prize1_org},
                      #{prize1_etc},
                      #{prize2},
                      #{prize2_date},
                      #{prize2_org},
                      #{prize2_etc},
                      #{prize3},
                      #{prize3_date},
                      #{prize3_org},
                      #{prize3_etc},

                      SYSDATE,
                     SYSDATE
                 )

    </insert>

    <insert id="saveUserDemoBsNew" parameterType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        INSERT INTO TB_USER_DEMO_BS (
            IDX_USER_DEMO_BS,
            IDX_DEMO_BUSINESS,
            USER_DEMOBS_STATUS,
            IDX_USER,
             IS_CHANGE,
             IS_CONFIRM,
             REG_DATE,
             LAST_UPD_DATE

        ) VALUES (
             SEQ_USER_DEMO_BS.NEXTVAL,
             #{idx_demo_business},
             #{user_demobs_status},
             #{idx_user},
             #{is_change},
             #{is_confirm},
             SYSDATE,
             SYSDATE
         )

    </insert>

    <update id="updateUserDemoBsStatus" parameterType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        UPDATE TB_USER_DEMO_BS SET
            USER_DEMOBS_STATUS = #{user_demobs_status}
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </update>


    <update id="updateUserDemoBs" parameterType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        UPDATE TB_USER_DEMO_BS SET
            IDX_DEMO_BUSINESS = #{idx_demo_business},
            USER_DEMOBS_STATUS = #{user_demobs_status},
            IDX_USER = #{idx_user},
            USER_DEMO_BS_APP_CODE = #{user_demo_bs_app_code},
            USER_DEMO_BS_TYPE = #{user_demo_bs_type},
            REQ_FACILITY= #{req_facility},
            REQ_ETC= #{req_etc},
            IDX_CORP_INFO = #{idx_corp_info},
            CORP_NAME = #{corp_name},
            CORP_BIRTH = #{corp_birth},
            CORP_NUM = #{corp_num},
            CORP_REG_NUM = #{corp_reg_num},
            CORP_ADDR = #{corp_addr},
            CORP_ADDR2 = #{corp_addr2},
            CORP_RND_ADDR = #{corp_rnd_addr},
            CORP_RND_ADDR2 = #{corp_rnd_addr2},
            CORP_PHONE = #{corp_phone},
            LAB_PHONE = #{lab_phone},
            EMAIL= #{email},
            HOMEPAGE= #{homepage},
            CAPITAL_AMOUNT = #{capital_amount},
            CORP_SALES_AMOUNT = #{corp_sales_amount},
            CORP_ER = #{corp_er},
            EMPLOYEES_COUNT = #{employees_count},
            BS_TYPE1 = #{bs_type1},
            BS_TYPE2 = #{bs_type2},
            MAIN_PRODUCT = #{main_product},
            DEMOBS_TECH_PLAN = #{demobs_tech_plan},
            CEO_NAME = #{ceo_name},
            CEO_MNUMBER = #{ceo_mnumber},
            CEO_PNUMBER = #{ceo_pnumber},
            CEO_EMAIL = #{ceo_email},
            CEO_ADDRESS = #{ceo_address},
            CEO_ADDRESS2 = #{ceo_address2},
            MAN_NAME = #{man_name},
            MAN_MNUMBER = #{man_mnumber},
            MAN_PNUMBER = #{man_pnumber},
            MAN_EMAIL = #{man_email},
            MAN_DPART = #{man_dpart},
            MAN_ROLE = #{man_role},
            USER_DEMO_TYPE = #{user_demo_type},
            USER_DEMO_FACILITY = #{user_demo_facility},
            USER_DEMO_WAY = #{user_demo_way},
            USER_DEMO_REPEAT = #{user_demo_repeat},
            USER_DEMO_REPEAT_COUNT = #{user_demo_repeat_count},

            USER_DEMO_GOAL = #{user_demo_goal},
            USER_DEMO_OPTION = #{user_demo_option},
            USER_DEMO_IS_CROPS = #{user_demo_is_crops},
            USER_DEMO_CROPS = #{user_demo_crops},
            CULTURE_SOIL = #{culture_soil},
            DEMO_TYPE = #{demo_type},
            DEMO_START_DATE = #{demo_start_date},
            DEMO_END_DATE = #{demo_end_date},
            RESIDENT_TYPE = #{resident_type},
            RESIDENT_ETC = #{resident_etc},
            STAFF_NUM = #{staff_num},
            IS_CHANGE = #{is_change},
            IS_CONFIRM = #{is_confirm},
            IS_SHARE = #{is_share},
            COSTAT_CODE	= #{costat_code},
            IS_OFFICE_OWER	= #{is_office_ower},
            IS_LAB_OWER	= #{is_lab_ower},
            MAN_TOTAL	= #{man_total},
            MAN_OFFICER_COUNT	= #{man_officer_count},
            MAN_LAB_COUNT	= #{man_lab_count},
            MAN_ETC_COUNT	= #{man_etc_count},
            LAST_UPD_DATE = SYSDATE
          WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </update>

    <update id="updateUserDemoBsWebStep2" parameterType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        UPDATE TB_USER_DEMO_BS SET

               USER_DEMO_BS_TYPE = #{user_demo_bs_type},

               CORP_NAME = #{corp_name},
               CORP_BIRTH = #{corp_birth},
               CORP_NUM = #{corp_num},
               CORP_REG_NUM = #{corp_reg_num},

               CORP_ADDR = #{corp_addr},
               CORP_ADDR2 = #{corp_addr2},
               IS_OFFICE_OWER	= #{is_office_ower},
               CORP_PHONE = #{corp_phone},

               CORP_RND_ADDR = #{corp_rnd_addr},
               CORP_RND_ADDR2 = #{corp_rnd_addr2},
               LAB_PHONE = #{lab_phone},
               EMAIL= #{email},
                HOMEPAGE= #{homepage},
               IS_LAB_OWER	= #{is_lab_ower},

               CAPITAL_AMOUNT = #{capital_amount},
               CORP_SALES_AMOUNT = #{corp_sales_amount},
               CORP_ER = #{corp_er},

               BS_TYPE1 = #{bs_type1},
               BS_TYPE2 = #{bs_type2},
               MAIN_PRODUCT = #{main_product},
               DEMOBS_TECH_PLAN = #{demobs_tech_plan},
               REQ_FACILITY= #{req_facility},
               REQ_ETC= #{req_etc},

               CEO_NAME = #{ceo_name},
               CEO_MNUMBER = #{ceo_mnumber},
               CEO_PNUMBER = #{ceo_pnumber},
               CEO_EMAIL = #{ceo_email},
               CEO_ADDRESS = #{ceo_address},
               CEO_ADDRESS2 = #{ceo_address2},

               MAN_NAME = #{man_name},
               MAN_MNUMBER = #{man_mnumber},
               MAN_PNUMBER = #{man_pnumber},
               MAN_EMAIL = #{man_email},
               MAN_DPART = #{man_dpart},
               MAN_ROLE = #{man_role},

               USER_DEMO_TYPE = #{user_demo_type},
               USER_DEMO_FACILITY = #{user_demo_facility},
               USER_DEMO_WAY = #{user_demo_way},
               USER_DEMO_REPEAT = #{user_demo_repeat},
               USER_DEMO_REPEAT_COUNT = #{user_demo_repeat_count},
               USER_DEMO_GOAL = #{user_demo_goal},
               USER_DEMO_OPTION = #{user_demo_option},
               USER_DEMO_IS_CROPS= #{user_demo_is_crops},
               USER_DEMO_CROPS = #{user_demo_crops},
               CULTURE_SOIL = #{culture_soil},
               DEMO_TYPE = #{demo_type},
               DEMO_START_DATE = #{demo_start_date},
               DEMO_END_DATE = #{demo_end_date},
               RESIDENT_TYPE = #{resident_type},
               RESIDENT_ETC = #{resident_etc},
               STAFF_NUM = #{staff_num},
               MAN_TOTAL = #{man_total},
                MAN_OFFICER_COUNT = #{man_officer_count},
                MAN_LAB_COUNT = #{man_lab_count},
                MAN_ETC_COUNT = #{man_etc_count},


               LAST_UPD_DATE = SYSDATE
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </update>

    <update id="updateUserDemoBsWebStep3" parameterType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        UPDATE TB_USER_DEMO_BS SET

              LAB_EST_DATE = #{lab_est_date},
              RND_RATE = #{rnd_rate},
              CONSOLIDATED_COMPANY = #{consolidated_company},
              HISTORY1 = #{history1},
              HISTORY1_DATE = #{history1_date},
              HISTORY2 = #{history2},
              HISTORY2_DATE = #{history2_date},
              HISTORY3 = #{history3},
              HISTORY3_DATE = #{history3_date},
              PRIZE1 = #{prize1},
              PRIZE1_DATE = #{prize1_date},
              PRIZE1_ORG = #{prize1_org},
              PRIZE1_ETC = #{prize1_etc},
              PRIZE2 = #{prize2},
              PRIZE2_DATE = #{prize2_date},
              PRIZE2_ORG = #{prize2_org},
              PRIZE2_ETC = #{prize2_etc},
              PRIZE3 = #{prize3},
              PRIZE3_DATE = #{prize3_date},
              PRIZE3_ORG = #{prize3_org},
              PRIZE3_ETC = #{prize3_etc},
              DEMO_START_DATE = #{demo_start_date},
              DEMO_END_DATE = #{demo_end_date},
              FARMING_START_DATE = #{farming_start_date},
              FARMING_END_DATE = #{farming_end_date},
              FARMING_REPEAT = #{farming_repeat},

               LAST_UPD_DATE = SYSDATE
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </update>

    <update id="updateUserDemoBsWebStep4" parameterType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        UPDATE TB_USER_DEMO_BS SET
                                   IS_USE_AGREE	= #{is_use_agree},
                                   IS_INDI_USE_AGREE	= #{is_indi_use_agree},
                                   IS_INDI_INFO_AGREE	= #{is_indi_info_agree}
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </update>

    <select id="getUserDemoBsDetail" parameterType="long" resultType="kr.or.fact.core.model.DTO.UserDemoBsDetailVO">
        SELECT
            *
        FROM TB_USER_DEMO_BS_DETAIL
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </select>

    <insert id="saveUserDemoBsDetail" parameterType="kr.or.fact.core.model.DTO.UserDemoBsDetailVO">
        INSERT INTO TB_USER_DEMO_BS_DETAIL (
            IDX_USER_DEMO_BS_DETAIL,
            IDX_USER_DEMO_BS,
            CEO_RND_RESULT1,
            CEO_RND_RESULT1_ORG,
            CEO_RND_RESULT1_DUR,
            CEO_RND_RESULT1_ROLE,
            CEO_RND_RESULT1_RESULT,
            CEO_RND_RESULT2,
            CEO_RND_RESULT2_ORG,
            CEO_RND_RESULT2_DUR,
            CEO_RND_RESULT2_ROLE,
            CEO_RND_RESULT2_RESULT,
            RND_EFFORT1,
            RND_EFFORT1_TYPE,
            RND_EFFORT1_ETC,
            RND_EFFORT2,
            RND_EFFORT2_TYPE,
            RND_EFFORT2_ETC,
            RND_EFFORT3,
            RND_EFFORT3_TYPE,
            RND_EFFORT3_ETC,
            RND_EFFORT4,
            RND_EFFORT4_TYPE,
            RND_EFFORT4_ETC,
            RND_EFFORT5,
            RND_EFFORT5_TYPE,
            RND_EFFORT5_ETC,
            RND_EFFORT6,
            RND_EFFORT6_TYPE,
            RND_EFFORT6_ETC,
            OWN_IP1,
            OWN_IP1_TYPE,
            OWN_IP1_CODE,
            OWN_IP1_DATE,
            OWN_IP1_ORG,
            OWN_IP1_ETC,
            OWN_IP2,
            OWN_IP2_TYPE,
            OWN_IP2_CODE,
            OWN_IP2_DATE,
            OWN_IP2_ORG,
            OWN_IP2_ETC,
            OWN_IP3,
            OWN_IP3_TYPE,
            OWN_IP3_CODE,
            OWN_IP3_DATE,
            OWN_IP3_ORG,
            OWN_IP3_ETC,
            OWN_CERT1,
            OWN_CERT1_TYPE,
            OWN_CERT1_CODE,
            OWN_CERT1_DATE,
            OWN_CERT2,
            OWN_CERT2_TYPE,
            OWN_CERT2_CODE,
            OWN_CERT2_DATE,
            OWN_CERT3,
            OWN_CERT3_TYPE,
            OWN_CERT3_CODE,
            OWN_CERT3_DATE,
            OWN_DEVICE1,
            OWN_DEVICE1_WEIGHT,
            OWN_DEVICE1_SIZE,
            OWN_DEVICE1_PW,
            OWN_DEVICE1_WAT,
            OWN_DEVICE1_TYPE,
            IS_IN_OWN_DEVICE1,
            OWN_DEVICE2,
            OWN_DEVICE2_WEIGHT,
            OWN_DEVICE2_SIZE,
            OWN_DEVICE2_PW,
            OWN_DEVICE2_WAT,
            OWN_DEVICE2_TYPE,
            IS_IN_OWN_DEVICE2,
            OWN_DEVICE3,
            OWN_DEVICE3_WEIGHT,
            OWN_DEVICE3_SIZE,
            OWN_DEVICE3_PW,
            OWN_DEVICE3_WAT,
            OWN_DEVICE3_TYPE,
            IS_IN_OWN_DEVICE3,
            DEMO_NEEDS,
            DEMO_MAIN_POINT,
            DEMO_USE_PLAN,
            DEMO_FACIL_MAT,
            DEMO_FACIL_ICT,
            DEMO_FACIL_FER,
            DEMO_FACIL_SW,
            DEMO_FACIL_ROBOT,
            DEMO_FACIL_MODEL,
            DEMO_PALN_GH,
            DEMO_PALN_FACIL,
            DEMO_PALN_EXPER,
            DEMO_PALN_MNG,
            DEMO_PLAN_IP,
            DEMO_PLAN_TARGET,
            DEMO_PLAN_SALES,
            DEMO_PLAN_POST,
            IN_FACIL_MAT,
            IN_FACIL_MAT_TYPE,
            IN_FACIL_MAT_STNRD,
            IN_FACIL_MAT_AMOUNT,
            IN_FACIL_MAT_VAL,
            IN_FACIL_MAT_PRICE,
            IN_FACIL_ICT,
            IN_FACIL_ICT_TYPE,
            IN_FACIL_ICT_STNRD,
            IN_FACIL_ICT_AMOUNT,
            IN_FACIL_ICT_VAL,
            IN_FACIL_ICT_PRICE,
            IN_FACIL_FER,
            IN_FACIL_FER_TYPE,
            IN_FACIL_FER_STNRD,
            IN_FACIL_FER_AMOUNT,
            IN_FACIL_FER_VAL,
            IN_FACIL_FER_PRICE,
            IN_FACIL_SW,
            IN_FACIL_SW_TYPE,
            IN_FACIL_SW_STNRD,
            IN_FACIL_SW_AMOUNT,
            IN_FACIL_SW_VAL,
            IN_FACIL_SW_PRICE,
            IN_FACIL_SEEDING,
            IN_FACIL_SEEDINGTYPE,
            IN_FACIL_SEEDING_STNRD,
            IN_FACIL_SEEDING_AMOUNT,
            IN_FACIL_SEEDING_VAL,
            IN_FACIL_SEEDING_PRICE,
            IN_FACIL_ROBOT,
            IN_FACIL_ROBOT_TYPE,
            IN_FACIL_ROBOT_STNRD,
            IN_FACIL_ROBOT_AMOUNT,
            IN_FACIL_ROBOT_VAL,
            IN_FACIL_ROBOT_PRICE,
            IN_HAZD_CHEMICAL1,
            IN_HAZD_CHEMICAL1_FORM,
            IN_HAZD_CHEMICAL1_AMOUNT,
            IN_HAZD_CHEMICAL1_CASE,
            IN_HAZD_CHEMICAL1_LOC,
            IN_HAZD_CHEMICAL1_ETC,
            IN_HAZD_CHEMICAL2,
            IN_HAZD_CHEMICAL2_FORM,
            IN_HAZD_CHEMICAL2_AMOUNT,
            IN_HAZD_CHEMICAL2_CASE,
            IN_HAZD_CHEMICAL2_LOC,
            IN_HAZD_CHEMICAL2_ETC,
            IN_HAZD_CHEMICAL3,
            IN_HAZD_CHEMICAL3_FORM,
            IN_HAZD_CHEMICAL3_AMOUNT,
            IN_HAZD_CHEMICAL3_CASE,
            IN_HAZD_CHEMICAL3_LOC,
            IN_HAZD_CHEMICAL3_ETC,
            WASTE_WATER_AMOUNT,
            WASTE_WATER_CASE,
            WASTE_WATER_EXT_PLAN,
            WASTE_SOIL_AMOUNT,
            WASTE_SOIL_CASE,
            WASTE_SOIL_EXT_PLAN,
            FACIL_PW1,
            FACIL_PW1_TYPE,
            FACIL_PW1_V,
            FACIL_PW1_W,
            FACIL_PW2,
            FACIL_PW2_TYPE,
            FACIL_PW2_V,
            FACIL_PW2_W,
            FACIL_PW3,
            FACIL_PW3_TYPE,
            FACIL_PW3_V,
            FACIL_PW3_W,

            REG_DATE,
            UPD_DATE
        ) VALUES (
                     SEQ_USER_DEMO_BS_DETAIL.NEXTVAL,
                     #{idx_user_demo_bs},
                     #{ceo_rnd_result1},
                     #{ceo_rnd_result1_org},
                     #{ceo_rnd_result1_dur},
                     #{ceo_rnd_result1_role},
                     #{ceo_rnd_result1_result},
                     #{ceo_rnd_result2},
                     #{ceo_rnd_result2_org},
                     #{ceo_rnd_result2_dur},
                     #{ceo_rnd_result2_role},
                     #{ceo_rnd_result2_result},
                     #{rnd_effort1},
                     #{rnd_effort1_type},
                     #{rnd_effort1_etc},
                     #{rnd_effort2},
                     #{rnd_effort2_type},
                     #{rnd_effort2_etc},
                     #{rnd_effort3},
                     #{rnd_effort3_type},
                     #{rnd_effort3_etc},
                     #{rnd_effort4},
                     #{rnd_effort4_type},
                     #{rnd_effort4_etc},
                     #{rnd_effort5},
                     #{rnd_effort5_type},
                     #{rnd_effort5_etc},
                     #{rnd_effort6},
                     #{rnd_effort6_type},
                     #{rnd_effort6_etc},
                     #{own_ip1},
                     #{own_ip1_type},
                     #{own_ip1_code},
                     #{own_ip1_date},
                     #{own_ip1_org},
                     #{own_ip1_etc},
                     #{own_ip2},
                     #{own_ip2_type},
                     #{own_ip2_code},
                     #{own_ip2_date},
                     #{own_ip2_org},
                     #{own_ip2_etc},
                     #{own_ip3},
                     #{own_ip3_type},
                     #{own_ip3_code},
                     #{own_ip3_date},
                     #{own_ip3_org},
                     #{own_ip3_etc},
                     #{own_cert1},
                     #{own_cert1_type},
                     #{own_cert1_code},
                     #{own_cert1_date},
                     #{own_cert2},
                     #{own_cert2_type},
                     #{own_cert2_code},
                     #{own_cert2_date},
                     #{own_cert3},
                     #{own_cert3_type},
                     #{own_cert3_code},
                     #{own_cert3_date},
                     #{own_device1},
                     #{own_device1_weight},
                     #{own_device1_size},
                     #{own_device1_pw},
                     #{own_device1_wat},
                     #{own_device1_type},
                     #{is_in_own_device1},
                     #{own_device2},
                     #{own_device2_weight},
                     #{own_device2_size},
                     #{own_device2_pw},
                     #{own_device2_wat},
                     #{own_device2_type},
                     #{is_in_own_device2},
                     #{own_device3},
                     #{own_device3_weight},
                     #{own_device3_size},
                     #{own_device3_pw},
                     #{own_device3_wat},
                     #{own_device3_type},
                     #{is_in_own_device3},
                     #{demo_needs},
                     #{demo_main_point},
                     #{demo_use_plan},
                     #{demo_facil_mat},
                     #{demo_facil_ict},
                     #{demo_facil_fer},
                     #{demo_facil_sw},
                     #{demo_facil_robot},
                     #{demo_facil_model},
                     #{demo_paln_gh},
                     #{demo_paln_facil},
                     #{demo_paln_exper},
                     #{demo_paln_mng},
                     #{demo_plan_ip},
                     #{demo_plan_target},
                     #{demo_plan_sales},
                     #{demo_plan_post},
                     #{in_facil_mat},
                     #{in_facil_mat_type},
                     #{in_facil_mat_stnrd},
                     #{in_facil_mat_amount},
                     #{in_facil_mat_val},
                     #{in_facil_mat_price},
                     #{in_facil_ict},
                     #{in_facil_ict_type},
                     #{in_facil_ict_stnrd},
                     #{in_facil_ict_amount},
                     #{in_facil_ict_val},
                     #{in_facil_ict_price},
                     #{in_facil_fer},
                     #{in_facil_fer_type},
                     #{in_facil_fer_stnrd},
                     #{in_facil_fer_amount},
                     #{in_facil_fer_val},
                     #{in_facil_fer_price},
                     #{in_facil_sw},
                     #{in_facil_sw_type},
                     #{in_facil_sw_stnrd},
                     #{in_facil_sw_amount},
                     #{in_facil_sw_val},
                     #{in_facil_sw_price},
                     #{in_facil_seeding},
                     #{in_facil_seedingtype},
                     #{in_facil_seeding_stnrd},
                     #{in_facil_seeding_amount},
                     #{in_facil_seeding_val},
                     #{in_facil_seeding_price},
                     #{in_facil_robot},
                     #{in_facil_robot_type},
                     #{in_facil_robot_stnrd},
                     #{in_facil_robot_amount},
                     #{in_facil_robot_val},
                     #{in_facil_robot_price},
                     #{in_hazd_chemical1},
                     #{in_hazd_chemical1_form},
                     #{in_hazd_chemical1_amount},
                     #{in_hazd_chemical1_case},
                     #{in_hazd_chemical1_loc},
                     #{in_hazd_chemical1_etc},
                     #{in_hazd_chemical2},
                     #{in_hazd_chemical2_form},
                     #{in_hazd_chemical2_amount},
                     #{in_hazd_chemical2_case},
                     #{in_hazd_chemical2_loc},
                     #{in_hazd_chemical2_etc},
                     #{in_hazd_chemical3},
                     #{in_hazd_chemical3_form},
                     #{in_hazd_chemical3_amount},
                     #{in_hazd_chemical3_case},
                     #{in_hazd_chemical3_loc},
                     #{in_hazd_chemical3_etc},
                     #{waste_water_amount},
                     #{waste_water_case},
                     #{waste_water_ext_plan},
                     #{waste_soil_amount},
                     #{waste_soil_case},
                     #{waste_soil_ext_plan},
                     #{facil_pw1},
                     #{facil_pw1_type},
                     #{facil_pw1_v},
                     #{facil_pw1_w},
                     #{facil_pw2},
                     #{facil_pw2_type},
                     #{facil_pw2_v},
                     #{facil_pw2_w},
                     #{facil_pw3},
                     #{facil_pw3_type},
                     #{facil_pw3_v},
                     #{facil_pw3_w},

                     SYSDATE,
                     SYSDATE
                 )

    </insert>

    <update id="updateUserDemoBsDetail" parameterType="kr.or.fact.core.model.DTO.UserDemoBsDetailVO">
        UPDATE TB_USER_DEMO_BS_DETAIL SET
          CEO_RND_RESULT1 =#{ceo_rnd_result1},
          CEO_RND_RESULT1_ORG =#{ceo_rnd_result1_org},
          CEO_RND_RESULT1_DUR =#{ceo_rnd_result1_dur},
          CEO_RND_RESULT1_ROLE =#{ceo_rnd_result1_role},
          CEO_RND_RESULT1_RESULT =#{ceo_rnd_result1_result},
          CEO_RND_RESULT2 =#{ceo_rnd_result2},
          CEO_RND_RESULT2_ORG =#{ceo_rnd_result2_org},
          CEO_RND_RESULT2_DUR =#{ceo_rnd_result2_dur},
          CEO_RND_RESULT2_ROLE =#{ceo_rnd_result2_role},
          CEO_RND_RESULT2_RESULT =#{ceo_rnd_result2_result},
          RND_EFFORT1 =#{rnd_effort1},
          RND_EFFORT1_TYPE =#{rnd_effort1_type},
          RND_EFFORT1_ETC =#{rnd_effort1_etc},
          RND_EFFORT2 =#{rnd_effort2},
          RND_EFFORT2_TYPE =#{rnd_effort2_type},
          RND_EFFORT2_ETC =#{rnd_effort2_etc},
          RND_EFFORT3 =#{rnd_effort3},
          RND_EFFORT3_TYPE =#{rnd_effort3_type},
          RND_EFFORT3_ETC =#{rnd_effort3_etc},
          RND_EFFORT4 =#{rnd_effort4},
          RND_EFFORT4_TYPE =#{rnd_effort4_type},
          RND_EFFORT4_ETC =#{rnd_effort4_etc},
          RND_EFFORT5 =#{rnd_effort5},
          RND_EFFORT5_TYPE =#{rnd_effort5_type},
          RND_EFFORT5_ETC =#{rnd_effort5_etc},
          RND_EFFORT6 =#{rnd_effort6},
          RND_EFFORT6_TYPE =#{rnd_effort6_type},
          RND_EFFORT6_ETC =#{rnd_effort6_etc},
          OWN_IP1 =#{own_ip1},
          OWN_IP1_TYPE =#{own_ip1_type},
          OWN_IP1_CODE =#{own_ip1_code},
          OWN_IP1_DATE =#{own_ip1_date},
          OWN_IP1_ORG =#{own_ip1_org},
          OWN_IP1_ETC =#{own_ip1_etc},
          OWN_IP2 =#{own_ip2},
          OWN_IP2_TYPE =#{own_ip2_type},
          OWN_IP2_CODE =#{own_ip2_code},
          OWN_IP2_DATE =#{own_ip2_date},
          OWN_IP2_ORG =#{own_ip2_org},
          OWN_IP2_ETC =#{own_ip2_etc},
          OWN_IP3 =#{own_ip3},
          OWN_IP3_TYPE =#{own_ip3_type},
          OWN_IP3_CODE =#{own_ip3_code},
          OWN_IP3_DATE =#{own_ip3_date},
          OWN_IP3_ORG =#{own_ip3_org},
          OWN_IP3_ETC =#{own_ip3_etc},
          OWN_CERT1 =#{own_cert1},
          OWN_CERT1_TYPE =#{own_cert1_type},
          OWN_CERT1_CODE =#{own_cert1_code},
          OWN_CERT1_DATE =#{own_cert1_date},
          OWN_CERT2 =#{own_cert2},
          OWN_CERT2_TYPE =#{own_cert2_type},
          OWN_CERT2_CODE =#{own_cert2_code},
          OWN_CERT2_DATE =#{own_cert2_date},
          OWN_CERT3 =#{own_cert3},
          OWN_CERT3_TYPE =#{own_cert3_type},
          OWN_CERT3_CODE =#{own_cert3_code},
          OWN_CERT3_DATE =#{own_cert3_date},
          OWN_DEVICE1 =#{own_device1},
          OWN_DEVICE1_WEIGHT =#{own_device1_weight},
          OWN_DEVICE1_SIZE =#{own_device1_size},
          OWN_DEVICE1_PW =#{own_device1_pw},
          OWN_DEVICE1_WAT =#{own_device1_wat},
          OWN_DEVICE1_TYPE =#{own_device1_type},
          IS_IN_OWN_DEVICE1 =#{is_in_own_device1},
          OWN_DEVICE2 =#{own_device2},
          OWN_DEVICE2_WEIGHT =#{own_device2_weight},
          OWN_DEVICE2_SIZE =#{own_device2_size},
          OWN_DEVICE2_PW =#{own_device2_pw},
          OWN_DEVICE2_WAT =#{own_device2_wat},
          OWN_DEVICE2_TYPE =#{own_device2_type},
          IS_IN_OWN_DEVICE2 =#{is_in_own_device2},
          OWN_DEVICE3 =#{own_device3},
          OWN_DEVICE3_WEIGHT =#{own_device3_weight},
          OWN_DEVICE3_SIZE =#{own_device3_size},
          OWN_DEVICE3_PW =#{own_device3_pw},
          OWN_DEVICE3_WAT =#{own_device3_wat},
          OWN_DEVICE3_TYPE =#{own_device3_type},
          IS_IN_OWN_DEVICE3 =#{is_in_own_device3},
          DEMO_NEEDS =#{demo_needs},
          DEMO_MAIN_POINT =#{demo_main_point},
          DEMO_USE_PLAN =#{demo_use_plan},
          DEMO_FACIL_MAT =#{demo_facil_mat},
          DEMO_FACIL_ICT =#{demo_facil_ict},
          DEMO_FACIL_FER =#{demo_facil_fer},
          DEMO_FACIL_SW =#{demo_facil_sw},
          DEMO_FACIL_ROBOT =#{demo_facil_robot},
          DEMO_FACIL_MODEL =#{demo_facil_model},
          DEMO_PALN_GH =#{demo_paln_gh},
          DEMO_PALN_FACIL =#{demo_paln_facil},
          DEMO_PALN_EXPER =#{demo_paln_exper},
          DEMO_PALN_MNG =#{demo_paln_mng},
          DEMO_PLAN_IP =#{demo_plan_ip},
          DEMO_PLAN_TARGET =#{demo_plan_target},
          DEMO_PLAN_SALES =#{demo_plan_sales},
          DEMO_PLAN_POST =#{demo_plan_post},
          IN_FACIL_MAT =#{in_facil_mat},
          IN_FACIL_MAT_TYPE =#{in_facil_mat_type},
          IN_FACIL_MAT_STNRD =#{in_facil_mat_stnrd},
          IN_FACIL_MAT_AMOUNT =#{in_facil_mat_amount},
          IN_FACIL_MAT_VAL =#{in_facil_mat_val},
          IN_FACIL_MAT_PRICE =#{in_facil_mat_price},
          IN_FACIL_ICT =#{in_facil_ict},
          IN_FACIL_ICT_TYPE =#{in_facil_ict_type},
          IN_FACIL_ICT_STNRD =#{in_facil_ict_stnrd},
          IN_FACIL_ICT_AMOUNT =#{in_facil_ict_amount},
          IN_FACIL_ICT_VAL =#{in_facil_ict_val},
          IN_FACIL_ICT_PRICE =#{in_facil_ict_price},
          IN_FACIL_FER =#{in_facil_fer},
          IN_FACIL_FER_TYPE =#{in_facil_fer_type},
          IN_FACIL_FER_STNRD =#{in_facil_fer_stnrd},
          IN_FACIL_FER_AMOUNT =#{in_facil_fer_amount},
          IN_FACIL_FER_VAL =#{in_facil_fer_val},
          IN_FACIL_FER_PRICE =#{in_facil_fer_price},
          IN_FACIL_SW =#{in_facil_sw},
          IN_FACIL_SW_TYPE =#{in_facil_sw_type},
          IN_FACIL_SW_STNRD =#{in_facil_sw_stnrd},
          IN_FACIL_SW_AMOUNT =#{in_facil_sw_amount},
          IN_FACIL_SW_VAL =#{in_facil_sw_val},
          IN_FACIL_SW_PRICE =#{in_facil_sw_price},
          IN_FACIL_SEEDING =#{in_facil_seeding},
          IN_FACIL_SEEDINGTYPE =#{in_facil_seedingtype},
          IN_FACIL_SEEDING_STNRD =#{in_facil_seeding_stnrd},
          IN_FACIL_SEEDING_AMOUNT =#{in_facil_seeding_amount},
          IN_FACIL_SEEDING_VAL =#{in_facil_seeding_val},
          IN_FACIL_SEEDING_PRICE =#{in_facil_seeding_price},
          IN_FACIL_ROBOT =#{in_facil_robot},
          IN_FACIL_ROBOT_TYPE =#{in_facil_robot_type},
          IN_FACIL_ROBOT_STNRD =#{in_facil_robot_stnrd},
          IN_FACIL_ROBOT_AMOUNT =#{in_facil_robot_amount},
          IN_FACIL_ROBOT_VAL =#{in_facil_robot_val},
          IN_FACIL_ROBOT_PRICE =#{in_facil_robot_price},
          IN_HAZD_CHEMICAL1 =#{in_hazd_chemical1},
          IN_HAZD_CHEMICAL1_FORM =#{in_hazd_chemical1_form},
          IN_HAZD_CHEMICAL1_AMOUNT =#{in_hazd_chemical1_amount},
          IN_HAZD_CHEMICAL1_CASE =#{in_hazd_chemical1_case},
          IN_HAZD_CHEMICAL1_LOC =#{in_hazd_chemical1_loc},
          IN_HAZD_CHEMICAL1_ETC =#{in_hazd_chemical1_etc},
          IN_HAZD_CHEMICAL2 =#{in_hazd_chemical2},
          IN_HAZD_CHEMICAL2_FORM =#{in_hazd_chemical2_form},
          IN_HAZD_CHEMICAL2_AMOUNT =#{in_hazd_chemical2_amount},
          IN_HAZD_CHEMICAL2_CASE =#{in_hazd_chemical2_case},
          IN_HAZD_CHEMICAL2_LOC =#{in_hazd_chemical2_loc},
          IN_HAZD_CHEMICAL2_ETC =#{in_hazd_chemical2_etc},
          IN_HAZD_CHEMICAL3 =#{in_hazd_chemical3},
          IN_HAZD_CHEMICAL3_FORM =#{in_hazd_chemical3_form},
          IN_HAZD_CHEMICAL3_AMOUNT =#{in_hazd_chemical3_amount},
          IN_HAZD_CHEMICAL3_CASE =#{in_hazd_chemical3_case},
          IN_HAZD_CHEMICAL3_LOC =#{in_hazd_chemical3_loc},
          IN_HAZD_CHEMICAL3_ETC =#{in_hazd_chemical3_etc},
          WASTE_WATER_AMOUNT =#{waste_water_amount},
          WASTE_WATER_CASE =#{waste_water_case},
          WASTE_WATER_EXT_PLAN =#{waste_water_ext_plan},
          WASTE_SOIL_AMOUNT =#{waste_soil_amount},
          WASTE_SOIL_CASE =#{waste_soil_case},
          WASTE_SOIL_EXT_PLAN =#{waste_soil_ext_plan},
          FACIL_PW1 =#{facil_pw1},
          FACIL_PW1_TYPE =#{facil_pw1_type},
          FACIL_PW1_V =#{facil_pw1_v},
          FACIL_PW1_W =#{facil_pw1_w},
          FACIL_PW2 =#{facil_pw2},
          FACIL_PW2_TYPE =#{facil_pw2_type},
          FACIL_PW2_V =#{facil_pw2_v},
          FACIL_PW2_W =#{facil_pw2_w},
          FACIL_PW3 =#{facil_pw3},
          FACIL_PW3_TYPE =#{facil_pw3_type},
          FACIL_PW3_V =#{facil_pw3_v},
          FACIL_PW3_W =#{facil_pw3_w},
          UPD_DATE = SYSDATE
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </update>

    <select id="getUserDemoBsHumanResourceList" parameterType="long" resultType="kr.or.fact.core.model.DTO.UserBsHumanResourceVO">
        SELECT
            *
        FROM TB_USER_BS_HUMAN_RESOURCE
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </select>

    <insert id="saveUserDemoBsHumanResource" parameterType="kr.or.fact.core.model.DTO.UserBsHumanResourceVO">
    INSERT INTO TB_USER_BS_HUMAN_RESOURCE (
    IDX_USER_BS_HUMAN_RESOURCE,
    IDX_USER_DEMO_BS,
    RND_USER_ORDER,
    RND_USER_NAME,
    RND_USER_ROLE,
    RND_USER_CODE,
    RND_USER_BIRTH,
    RND_USER_GRAD,
    RND_USER_COL,
    RND_USER_SCHOOL,
    RND_USER_COL_DATE,
    RND_USER_COL_PART,
    RND_USER_6T,
    RND_USER_RESULT,
    REG_DATE
    ) VALUES (
    SEQ_USER_BS_HUMAN_RESOURCE.NEXTVAL,
    #{idx_user_demo_bs},
    #{rnd_user_order},
    #{rnd_user_name},
    #{rnd_user_role},
    #{rnd_user_code},
    #{rnd_user_birth},
    #{rnd_user_grad},
    #{rnd_user_col},
    #{rnd_user_school},
    #{rnd_user_col_date},
    #{rnd_user_col_part},
    #{rnd_user_6t},
    #{rnd_user_result},
    SYSDATE
    )
    </insert>

    <delete id="deleteUserDemoBsHumanResource" parameterType="long">
        DELETE FROM TB_USER_BS_HUMAN_RESOURCE WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </delete>

    <select id="getUserDemoBsPagingList" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        SELECT
            IDX_USER_DEMO_BS
             ,ANNOUNCE_NUM
             ,SUBJECT
             ,BS_STATUS
             ,IS_FILE
             ,IS_NEW
             ,AUTHOR
             ,POSTING_START_DATE
             ,VIEW_COUNT
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS ROW_NUM
        ,IDX_BS_ANNOUNCEMENT
                      ,ANNOUNCE_NUM
                      ,SUBJECT
                      ,BS_STATUS
                      ,IS_FILE
                      ,IS_NEW
                      ,AUTHOR
                      ,POSTING_START_DATE
                      ,VIEW_COUNT
                 FROM (
                          SELECT * FROM TB_BS_ANNOUNCEMENT
                        <if test="filter1 != 9999">
                            WHERE DEMO_BS_STATUS = #{filter1}

                        </if>
                        <if test="filter2 != 9998">
                            OR DEMO_BS_STATUS = #{filter2}
                        </if>
                     )

                 WHERE ROWNUM <![CDATA[<=]]> #{cur_page}*#{list_amount}
             )
        WHERE ROW_NUM <![CDATA[>]]> (#{cur_page} -1)*#{list_amount}
    </select>

    <update id="submitUserDemoBs" parameterType="long">
        UPDATE TB_USER_DEMO_BS SET
            USER_DEMOBS_STATUS = 4,
            LAST_UPD_DATE = SYSDATE
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </update>


    <select id="getUserDemoBsPagingListByFiltered" parameterType="hashmap" resultType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        SELECT
        IDX_USER_DEMO_BS
        ,IDX_DEMO_BUSINESS
        ,USER_DEMOBS_STATUS
        ,IDX_USER
        ,USER_DEMO_BS_TYPE
        ,IDX_CORP_INFO
        ,CORP_NAME
         ,CORP_NUM
        ,CORP_PHONE
        ,EMAIL
        ,REQ_FACILITY
         ,CEO_NAME
        ,CEO_MNUMBER
        ,CEO_EMAIL
        ,MAN_NAME
        ,MAN_MNUMBER
        ,MAN_EMAIL
        ,USER_DEMO_TYPE
        ,USER_DEMO_FACILITY
        ,USER_DEMO_WAY
        ,USER_DEMO_GOAL
        ,CULTURE_SOIL
        ,USER_DEMO_IS_CROPS
        ,DEMO_START_DATE
        ,DEMO_END_DATE
        ,RESIDENT_TYPE
        ,REG_DATE
        ,LAST_UPD_DATE
        FROM (
        SELECT ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS ROW_NUM
        ,A.*

        FROM (
            SELECT * FROM TB_USER_DEMO_BS WHERE IDX_DEMO_BUSINESS =#{idx}
        <if test="filter1 != 9999">
            AND USER_DEMOBS_STATUS <![CDATA[>=]]> #{filter1}

        </if>
        <if test="filter2 != 9998">
            AND USER_DEMOBS_STATUS <![CDATA[<]]> #{filter2}
        </if>
        ) A

        WHERE ROWNUM <![CDATA[<=]]> #{cur_page}*#{list_amount}
        )
        WHERE ROW_NUM <![CDATA[>]]> (#{cur_page} -1)*#{list_amount}
    </select>




</mapper>