<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.UserDemoBsDAO">
    <select id="getUserDemoBsFromJoin" parameterType="long" resultType="kr.or.fact.core.model.DTO.ApplicantDemoBsJoinVO">
        SELECT * FROM  TB_APPLICANT_DEMO_BS_JOIN WHERE IDX_USER=#{idx_user};
    </select>
    <select id="getUserDemoBsListByUserIdx" parameterType="long" resultType="kr.or.fact.core.model.DTO.UserDemoBsVO">
        SELECT
            (SELECT DEMO_SUBJECT FROM TB_DEMO_BUSINESS WHERE IDX_DEMO_BUSINESS = TB_USER_DEMO_BS.IDX_DEMO_BUSINESS ) AS DEMO_BS_SUBJECT
             ,TB_USER_DEMO_BS.*
        FROM TB_USER_DEMO_BS
        WHERE IDX_USER_DEMO_BS IN (
            SELECT IDX_USER_DEMO_BS FROM TB_APPLICANT_DEMO_BS_JOIN WHERE IDX_USER=#{idx_user}
        ) ORDER BY IDX_DEMO_BUSINESS DESC
    </select>
    <select id="getDemoBsMsgByUserDemoBSIdx" parameterType="long" resultType="kr.or.fact.core.model.DTO.DemoBsMsgVO">
        SELECT
            *
        FROM TB_DEMO_BS_MSG
        WHERE IDX_USER_DEMO_BS = #{idx_user_demo_bs}
    </select>


</mapper>