<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.fact.core.model.WebMainPopupMapper">

    <select id="getWebMainPopupCount" resultType="int">
        SELECT COUNT (*) FROM TB_WEB_MAIN_POPUP A
                                  INNER JOIN TB_ADMIN B ON A.IDX_ADMIN = B.IDX_ADMIN
                                  INNER JOIN TB_FILE_INFO C ON A.IDX_FILE_INFO = C.IDX_FILE_INFO
        WHERE (A.IS_SHOW = 1 OR A.IS_SHOW = 9) AND A.CONTENTS_TYPE = 1 AND C.FILE_TYPE = 6
    </select>

    <select id="getWebMainPopupList" resultType="kr.or.fact.core.model.DTO.WebMainPopupVO">
        SELECT
            IDX_POPUP_IMG,
            SUBJECT,
            CONTENTS_TYPE,
            POPUP_URL,
            STARTDATE,
            ENDDATE,
            IS_SHOW,
            REG_DATE,
            ADMIN_NAME,
            LAST_UPD_DATE,
            IDX_FILE_INFO,
            FILE_PATH,
            FILE_NAME
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by #{order_field} DESC) AS ROW_NUM
                ,IDX_POPUP_IMG,
                        SUBJECT,
                        CONTENTS_TYPE,
                        POPUP_URL,
                        STARTDATE,
                        ENDDATE,
                        IS_SHOW,
                        REG_DATE,
                        ADMIN_NAME,
                        LAST_UPD_DATE,
                        IDX_FILE_INFO,
                        FILE_PATH,
                        FILE_NAME
                 FROM (
                          SELECT A.*, B.admin_name, C.FILE_PATH, C.FILE_NAME FROM TB_WEB_MAIN_POPUP A
                                        INNER JOIN TB_ADMIN B ON A.IDX_ADMIN = B.IDX_ADMIN
                                        INNER JOIN TB_FILE_INFO C ON A.IDX_FILE_INFO = C.IDX_FILE_INFO
                          WHERE (A.IS_SHOW = 1 OR A.IS_SHOW = 9)
                            AND A.CONTENTS_TYPE = 1
                            AND C.FILE_TYPE = 6
                          order by IDX_POPUP_IMG desc
                      )
                 WHERE ROWNUM <![CDATA[<=]]> #{cur_page}*#{list_amount}
             )
        WHERE ROW_NUM <![CDATA[>]]> (#{cur_page} -1)*#{list_amount}
    </select>

    <insert id="insertPopupContent" parameterType="kr.or.fact.core.model.DTO.WebMainPopupVO">
        INSERT INTO TB_WEB_MAIN_POPUP( IDX_POPUP_IMG,
                                      SUBJECT,
                                      CONTENTS_TYPE,
                                      POPUP_URL,
                                      STARTDATE,
                                      ENDDATE,
                                      IS_SHOW,
                                      REG_DATE,
                                      IDX_ADMIN,
                                      LAST_UPD_DATE,
                                      IDX_FILE_INFO)
        VALUES (SEQ_WEB_MAIN_POPUP.NEXTVAL,
                #{subject},
                1,
                #{popup_url},
                TO_DATE(#{startDate},'YYYY-MM-DD HH24-MI-SS'),
                TO_DATE(#{endDate},'YYYY-MM-DD HH24-MI-SS'),
                #{is_show},
                SYSDATE,
                #{idx_admin},
                SYSDATE,
                #{idx_file_info}
               )
    </insert>

    <insert id="insertBannerContent" parameterType="kr.or.fact.core.model.DTO.WebMainPopupVO">
        INSERT INTO TB_WEB_MAIN_POPUP( IDX_POPUP_IMG,
                                       SUBJECT,
                                       CONTENTS_TYPE,
                                       POPUP_URL,
                                       IS_SHOW,
                                       REG_DATE,
                                       IDX_ADMIN,
                                       LAST_UPD_DATE,
                                       IDX_FILE_INFO)
        VALUES (SEQ_WEB_MAIN_POPUP.NEXTVAL,
                #{subject},
                2,
                #{popup_url},
                #{is_show},
                SYSDATE,
                #{idx_admin},
                SYSDATE,
                #{idx_file_info}
               )
    </insert>

    <update id="updatePopupContent" parameterType="long">
        UPDATE TB_WEB_MAIN_POPUP SET
                                     SUBJECT = #{subject},
                                     POPUP_URL = #{popup_url},
                                     STARTDATE = TO_DATE(#{startDate},'YYYY-MM-DD HH24-MI-SS'),
                                     ENDDATE = TO_DATE(#{endDate},'YYYY-MM-DD HH24-MI-SS'),
                                     IS_SHOW = #{is_show},
                                     IDX_ADMIN = #{idx_admin},
                                     LAST_UPD_DATE = SYSDATE
                                    <if test='idx_file_info != 0'>
                                     ,IDX_FILE_INFO = #{idx_file_info}
                                    </if>
        WHERE IDX_POPUP_IMG = #{idx_popup_img}
    </update>

    <update id="deletePopupContent" parameterType="kr.or.fact.core.model.DTO.WebMainPopupVO">
        UPDATE TB_WEB_MAIN_POPUP SET
            IS_SHOW = 99
        WHERE IDX_POPUP_IMG = #{idx_popup_img} AND CONTENTS_TYPE = #{contents_type}
    </update>

    <update id="updateBannerContent" parameterType="long">
        UPDATE TB_WEB_MAIN_POPUP SET
                                    SUBJECT = #{subject},
                                    POPUP_URL = #{popup_url},
                                    IS_SHOW = #{is_show},
                                    IDX_ADMIN = #{idx_admin},
                                    LAST_UPD_DATE = SYSDATE
                                    <if test='idx_file_info != 0'>
                                    ,IDX_FILE_INFO = #{idx_file_info}
                                    </if>
        WHERE IDX_POPUP_IMG = #{idx_popup_img}
    </update>

    <select id="getBannerOrder" resultType="kr.or.fact.core.model.DTO.WebMainPopupVO">
        SELECT * FROM TB_WEB_MAIN_POPUP
        WHERE CONTENTS_TYPE = 2 AND IS_SHOW = #{is_show}
    </select>

    <update id="deleteBannerOrder" parameterType="kr.or.fact.core.model.DTO.WebMainPopupVO">
        UPDATE TB_WEB_MAIN_POPUP SET
            IS_SHOW = 4
        WHERE IDX_POPUP_IMG = #{idx_popup_img} AND CONTENTS_TYPE = 2 AND IS_SHOW = #{is_show}
    </update>

    <select id="getWebMainBannerList" resultType="kr.or.fact.core.model.DTO.WebMainPopupVO">
        SELECT A.*, B.ADMIN_NAME, C.FILE_PATH, C.FILE_NAME
        FROM TB_WEB_MAIN_POPUP A
            INNER JOIN TB_ADMIN B ON A.IDX_ADMIN = B.IDX_ADMIN
            INNER JOIN TB_FILE_INFO C ON A.IDX_FILE_INFO = C.IDX_FILE_INFO
        WHERE (A.IS_SHOW = 1 OR A.IS_SHOW = 2 OR A.IS_SHOW = 3)
            AND A.CONTENTS_TYPE = 2
            AND C.FILE_TYPE = 6
            order by IDX_POPUP_IMG desc
    </select>

    <select id="getWebMainBannerCount" resultType="int">
        SELECT COUNT (*)
        FROM TB_WEB_MAIN_POPUP A
            INNER JOIN TB_ADMIN B ON A.IDX_ADMIN = B.IDX_ADMIN
            INNER JOIN TB_FILE_INFO C ON A.IDX_FILE_INFO = C.IDX_FILE_INFO
        WHERE (A.IS_SHOW = 1 OR A.IS_SHOW = 2 OR A.IS_SHOW = 3) AND A.CONTENTS_TYPE = 2 AND C.FILE_TYPE = 6
    </select>

    <select id="getWebMainPopupListNow" resultType="kr.or.fact.core.model.DTO.WebMainPopupVO">
        SELECT
            IDX_POPUP_IMG,
            SUBJECT,
            CONTENTS_TYPE,
            POPUP_URL,
            STARTDATE,
            ENDDATE,
            IS_SHOW,
            REG_DATE,
            ADMIN_NAME,
            LAST_UPD_DATE,
            IDX_FILE_INFO,
            FILE_PATH,
            FILE_NAME
        FROM (
                 SELECT ROW_NUMBER() OVER(ORDER by STARTDATE DESC) AS ROW_NUM
                ,IDX_POPUP_IMG,
                        SUBJECT,
                        CONTENTS_TYPE,
                        POPUP_URL,
                        STARTDATE,
                        ENDDATE,
                        IS_SHOW,
                        REG_DATE,
                        ADMIN_NAME,
                        LAST_UPD_DATE,
                        IDX_FILE_INFO,
                        FILE_PATH,
                        FILE_NAME
                 FROM (
                          SELECT A.*, B.admin_name, C.FILE_PATH, C.FILE_NAME FROM TB_WEB_MAIN_POPUP A
                              INNER JOIN TB_ADMIN B ON A.IDX_ADMIN = B.IDX_ADMIN
                              INNER JOIN TB_FILE_INFO C ON A.IDX_FILE_INFO = C.IDX_FILE_INFO
                          WHERE A.IS_SHOW = 1
                            AND A.CONTENTS_TYPE = 1
                            AND C.FILE_TYPE = 6
                            AND A.STARTDATE <![CDATA[<=]]> SYSDATE AND A.ENDDATE <![CDATA[>]]> SYSDATE
                          order by IDX_POPUP_IMG desc
                      )
             )
    </select>
</mapper>

