/* 사이트 관리 - 사이트 정보 관리 - 현재 등록되어있는 관리자 표시 체크 해주는 css */
.layout-wrapper .homepageinfo_entity_1 { color: #00c300;}
/*.layout-wrapper .homepageinfo_entity_1 .btn-default {border-color: #00c300 !important;}*/

.table-striped tbody tr.checked_show { color:#00c300;}
/*.table-striped tbody tr.checked_show .btn-default {border-color: #00c300 !important;}*/