/* 사이트 관리 - 사이트 정보 관리 - 현재 등록되어있는 관리자 표시 체크 해주는 css */
.layout-wrapper .homepageinfo_entity_1 { color: #00c300;}
/*.layout-wrapper .homepageinfo_entity_1 .btn-default {border-color: #00c300 !important;}*/

.table-striped tbody tr.checked_show { color:#00c300;}
/*.table-striped tbody tr.checked_show .btn-default {border-color: #00c300 !important;}*/

.file_upload_box {display: flex}

.file_upload_box .upload-name {
    margin-right:5px;
}

.file_upload_box input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
.file_upload_box label {white-space: nowrap}
.file_upload_box img {display: block; max-width: 100%;}

/* 테이블 오름차순 내림차순 정리 관련 */
table.dataTable thead .sorting::before, table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after {content: none !important;}
.card .table:not(.table-dark), .card .table:not(.table-dark) thead:not(.thead-dark) th, .card .table:not(.table-dark) tbody th, .card .table:not(.table-dark) td, .nav-tabs-top .table:not(.table-dark), .nav-tabs-top .table:not(.table-dark) thead:not(.thead-dark) th, .nav-tabs-top .table:not(.table-dark) tbody th, .nav-tabs-top .table:not(.table-dark) td, .nav-tabs-right .table:not(.table-dark), .nav-tabs-right .table:not(.table-dark) thead:not(.thead-dark) th, .nav-tabs-right .table:not(.table-dark) tbody th, .nav-tabs-right .table:not(.table-dark) td, .nav-tabs-bottom .table:not(.table-dark), .nav-tabs-bottom .table:not(.table-dark) thead:not(.thead-dark) th, .nav-tabs-bottom .table:not(.table-dark) tbody th, .nav-tabs-bottom .table:not(.table-dark) td, .nav-tabs-left .table:not(.table-dark), .nav-tabs-left .table:not(.table-dark) thead:not(.thead-dark) th, .nav-tabs-left .table:not(.table-dark) tbody th, .nav-tabs-left .table:not(.table-dark) td {cursor: inherit}
table.dataTable>thead>tr>th:not(.sorting_disabled), table.dataTable>thead>tr>td:not(.sorting_disabled) {padding-right:10px !important;}

/* 달력 ...처리 */
.fc-daygrid-dot-event .fc-event-title {white-space: nowrap; text-overflow: ellipsis;}

tr.no_data td[name='buttons'] {display: none !important}

html:not([dir=rtl]) .sms_write_form {padding-top: 0 !important;}
html:not([dir=rtl]) .sms_write_form .modal-body .form-group.row {margin-left:0; align-items: center}
html:not([dir=rtl]) .sms_write_form .modal-body .form-group.row + .form-group {margin-top: 20px;}
html:not([dir=rtl]) .sms_write_form .modal-body .form-group.row.label > label + label {margin-left:10px; margin-bottom: 0;}
html:not([dir=rtl]) .sms_write_form .modal-body .form-group.col-md-10 {display: flex; flex-direction: column-reverse; margin-bottom: -25px;}
html:not([dir=rtl]) .sms_write_form .col-form-label {min-width: 80px; text-align: left !important; padding-top: 0; margin: 0;}
html:not([dir=rtl]) .sms_write_form #counter {text-align: right; margin-top: 2px; max-width: 550px;}
html:not([dir=rtl]) .sms_write_form .col-md-6 > label {position: absolute;}

html:not([dir=rtl]) .sms_write_form .form-control {max-width: 550px; text-align: left !important;}
html:not([dir=rtl]) .sms_write_form #datepicker-show {max-width: 550px;}
html:not([dir=rtl]) .sms_write_form textarea.form-control {min-height: 100px; resize: none; overflow-y: auto;}
html:not([dir=rtl]) .sms_write_form .modal-body {}